.blog__content{
  padding: 50px 0;
  h1{
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 30px;
    color: #2a2a2a;
  }
}

.articles_wrap{
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 1199px){
    justify-content: space-between;
  }
  @media (max-width: 715px){
    justify-content: center;
  }
}


.blog__content-item{
  position: relative;
  margin: 0 10px 70px;
  border-bottom: 2px solid #000;
  flex-basis: 30%;
  @media (max-width: 1199px) {
    flex-basis: 47%;
  }
  @media (max-width: 715px) {
    flex-basis: 70%;
  }
  @media (max-width: 500px) {
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  &:hover .blog__content-item-more,
  &:hover{
    color: #fff;
    border-bottom-color: #fff;
    opacity: 1;
  }
  img{
    width: 100%;
    height: auto;
  }
  a{
    color: #1d1d1d;
    &:hover{
      color: #2d97c4;
    }
    h2{
      display: inline-block;
      min-height: 50px;
      margin-top: 35px;
      margin-bottom: 25px;
      font-size: 20px;
      letter-spacing: 1px;
    }
  }
}


.blog__content-item-text{
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 22px;
  color: #7a7a7a;
}
.blog__content-item-info{
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  *{
    color: #595959;
  }
  span{
    display: block;
    margin-bottom: 14px;
  }
  li{
    float: left;
    padding-left: 22px;
    &.blog__content-item-info-time{
      background: url("../img/icon-posttime.png") no-repeat;
    }
    &.blog__content-item-info-comment{
      margin-left: 10px;
      background: url("../img/icon-postcomment.png") no-repeat;
    }
  }
}
.blog__content-item-more{
  position: absolute;
  bottom: -35px;
  left: 0;
  display: block;
  width: 100%;
  padding: 8px 0;
  color: #eff0f4;
  text-align: center;
  background: #17101b;
  opacity: 0;
}

.blog__content-tags{
  padding-bottom: 32px;
  border-bottom: 1px solid #d8d8d8;
  h4{
    margin-bottom: 20px;
    font: bold 16px MyraidProRegular;
    color: #606060;
  }
  li{
    float: left;
    margin-right: 17px;
    font: 16px MyraidProRegular;
    a{
      color: #606060;
      &:hover{
        color: #54a2c2;
        text-decoration: underline;
      }
    }
  }
}

.blog__side-keyarticles{
  padding: 20px;
  margin-bottom: 30px;
  background: #6eb4e8;
  @media (max-width: 767px) {
    margin-left: -15px;
    margin-right: -15px;
  }
  *{
    color: #fff;
  }
  h4{
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
  }
  li{
    a{
      display: block;
      padding-left: 30px;
      margin: 10px 0;
      line-height: 22px;
      position: relative;
      &:before{
        content: '';
        width: 10px;
        height: 10px;
        left: 0;
        top: calc(~"50% - 5px");
        position: absolute;
        border: 1px solid #fff;
      }
      &:hover{
        text-decoration: underline;
        &:before{
          background-color: #fff;
        }
      }
    }
  }
}

.blog__side-photos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: 991px){
    justify-content: space-around;
  }
  a{
    img{
      max-width: 260px;
      margin: 10px auto;
      @media (max-width: 1199px){
        max-width: 210px;
      }
      @media (max-width: 991px){
        max-width: 300px;
      }
      @media (max-width: 400px){
        max-width: 100%;
      }
    }
  }
}

.blog__side-subscribe{
  padding: 15px 10px 20px;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  background: #e9ae4b;
  @media (max-width: 767px) {
    margin-left: -15px;
    margin-right: -15px;
  }
  h4{
    font-family: OpenSansBold, sans-serif;
    font-size: 19px;
  }
  p{
    padding: 22px;
    font-family: OpenSansBold, sans-serif;
    font-size: 26px;
  }
  form{
    *{
      color: #4a4a4a;
      background: #fff;
    }
    input{
      width: 100%;
      padding: 5px 13px;
      font-family: OpenSansRegular, sans-serif;
      border: 1px solid #fff;
    }
    input[type="email"]:focus{
      border-color: #b2b2b2;
    }
    input[type="submit"]{
      width: 155px;
      height: 45px;
      margin-top: 25px;
      font-size: 20px;
    }
  }
}


.blog__content-intproject{
  width: 100%;
  text-align: center;
  *{
    font-weight: 100;
  }
  h3{
    font-size: 30px;
    color: #000;
  }
  p{
    font-size: 22px;
    color: #545454;
  }
  a{
    display: block;
    width: 215px;
    height: 50px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #35b5eb;
    margin: 40px auto;
  }
}
