.blogdetails__img{
  display: flex;
  height: 90vh;
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  span{
    padding: 5px 15px;
    font-size: 53px;
    font-weight: 900;
    line-height: 96px;
    text-transform: uppercase;
    background-color: #000;
    @media (max-width: 800px){
      font-size: 40px;
      line-height: 60px;
    }
  }
  p{
    margin-top: 30px;
    font-size: 26px;
    line-height: 38px;
    @media (max-width: 480px){
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.blogdetail__breadcrumbs{
  padding: 10px 0;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  a{
    color: #595959;
    &:hover{
      color: #35b5eb;
      text-decoration: underline;
    }
  }
}

.blogdetails__content{
  padding: 50px 0;
  color: #2a2a2a;
}


.blogdetail__content-single{
  h1{
    font-size: 30px;
    @media (max-width: 767px){
      text-align: center;
    }
  }
}


.blogdetail__content-single_topinfo{
  margin: 15px 0;
  color: rgba(89, 89, 89, .8);
  @media (max-width: 555px){
    max-width: 370px;
  }
  li{
    display: inline-block;
    padding-right: 20px;
    margin: 10px 0;
    vertical-align: middle;
    &:nth-child(1){
      @media (max-width: 450px){
        display: none;
      }
    }
    &:nth-child(3){
      padding-left: 26px;
      background: url(../img/icon-posttime.png) 0 center no-repeat;
    }
    &:nth-child(4){
      padding-left: 26px;
      background: url(../img/icon-postcomment.png) 0 center no-repeat;
    }
  }
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  span{
    font-weight: bold;
  }
}
.blogdetail__content-single_descr{
  clear: both;
  font-size: 19px;
  line-height: 1.4;
  p{
    margin: 10px 0;
  }
  h2{
    margin-top: 30px;
    font-size: 26px;
  }
}


.blogdetail__content-single_botinfo{
  padding: 35px 0;
  overflow: hidden;
}


.blogdetail__content-single_botinfo-social{
  float: left;
  ul{
    li{
      float: left;
    }
  }
}
.blogdetail__content-single_botinfo-rating{
  float: right;
  span,
  ul,
  li{
    float: left;
  }
}


.blogdetail__content-single_tag{
  padding: 20px 0;
  margin-bottom: 40px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  *{
    color: #606060;
  }
  span{
    float: left;
    margin-right: 20px;
    font-weight: bold;
  }
  ul{
    overflow: hidden;
    li{
      float: left;
      margin-right: 17px;
      a{
        &:hover{
          color: #54a2c2;
          text-decoration: underline;
        }
      }
    }
  }
}

.blogdetail__content-single_similar{
  h3{
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 28px;
  }
}
