.bh-button{
  padding: 15px 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #35b5eb;
  border: none;
}





.contact_form{
  margin: 0 auto;
  input,
  textarea{
    width: 100%;
    padding: 13px;
    margin: 5px 0;
    border: 1px solid #e6e6e6;
    &:focus{
      border: 1px solid #3eb8ec;
      &:invalid{
        border: 1px solid red;
      }
    }
  }
  textarea{
    min-height: 110px;
    resize: vertical;
  }
  span{
    display: block;
    margin: 15px 0;
    color: #9e9e9e;
  }
  input[type="submit"]{
    width: 215px;
    height: 50px;
    border-style: none;
  }
}
