.pagecontacts-contenttop{
  padding: 0 0 35px 0;
  margin-top: 50px;
  color: #2a2a2a;
  h1{
    margin-bottom: 30px;
    margin-left: 15px;
    font-size: 30px;
    @media (max-width: 550px){
      text-align: center;
    }
  }
  h4{
    margin-bottom: 20px;
    font-size: 26px;
  }
  h5{
    margin-bottom: 35px;
    clear: both;
    font-size: 22px;
  }
}


.pagecontacts-contenttop-left{
  @media (max-width: 991px){
    h4,
    h5,
    .pagecontacts-contenttop-left-social{
      text-align: center;
    }
  }
}

.pagecontacts-contenttop-left_table{
  padding: 40px 30px;
  margin-bottom: 35px;
  font-size: 19px;
  line-height: 33px;
  background: #f6f6f6;
  @media (max-width: 991px){
    margin-right: -15px;
    margin-left: -15px;
  }
  @media (max-width: 500px){
    padding-right: 9px;
    padding-left: 9px;
    font-size: 14px;
    line-height: 1.6;
  }
  @media (max-width: 335px){
    .mt20{
      margin-top: 23px;
    }
  }
  a{
    color: #35b5eb;
    &:hover{
      text-decoration: underline;
    }
  }
}


.pagecontacts-contenttop-left_table1,
.pagecontacts-contenttop-left_table2,
.pagecontacts-contenttop-left_table3{
  overflow: hidden;
}


.pagecontacts-contenttop-left_tableleft{
  float: left;
  width: 45%;
  li{
    position: relative;
    padding-left: 15px;
    color: #444;
    &:before{
      position: absolute;
      top: calc(~"50% - 4px");
      left: 0;
      width: 8px;
      height: 8px;
      content: "";
      background-color: #6eb4e8;
      border-radius: 50%;
    }
  }
}


.pagecontacts-contenttop-left_tableright{
  float: right;
  width: 55%;
}


.pagecontacts-contenttop-left_table2,
.pagecontacts-contenttop-left_table3{
  margin-top: 30px;
}


.pagecontacts-contenttop-left-social{
  overflow: hidden;
  clear: both;
  a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    filter: grayscale(1);
    background-size: 100% 100%;
    border-radius: 50%;
    &:hover{
      filter: grayscale(0);
    }
    &:nth-child(1){
      background-image: url(../img/soc-vk.svg);
    }
    &:nth-child(2){
      background-image: url(../img/soc-tw.svg);
    }
    &:nth-child(3){
      background-image: url(../img/soc-ig.svg);
    }
    &:nth-child(4){
      background-image: url(../img/soc-g+.svg);
    }
  }
}


.pagecontacts-contenttop-right{
  p{
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 23px;
    color: #545454;
  }
  @media only screen and (max-width: 991px){
    max-width: 600px;
    padding: 0 15px;
    margin: 20px auto 0;
    text-align: center;
  }
}

.pagecontacts-contentcenter{
  width: 100%;
  padding: 35px 0;
  background: #f6f6f6;
  h3{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 26px;
  }
  h4{
    margin-bottom: 25px;
    font-size: 22px;
  }
  p{
    font-size: 19px;
    line-height: 1.7;
  }
  img{
    width: 100%;
    @media (max-width: 991px){
      display: block;
      max-width: 500px;
      margin: 15px auto 0;
    }
  }
}

.pagecontacts-maps{
  padding: 50px 15px;
  h3{
    font-size: 26px;
  }
  p{
    margin: 20px 0;
    font-size: 20px;
    line-height: 1.5;
    img{
      margin-bottom: 15px;
      margin-left: 10px;
    }
    span{
      position: relative;
    }
  }
  .coffee_icon:after{
    position: absolute;
    right: -50px;
    width: 36px;
    height: 27px;
    content: "";
    background-image: url(../img/contacts/coffee.jpg);
  }
  h4{
    margin-bottom: 40px;
    font-size: 26px;
  }
}



.pagecontacts-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  img{
    width: 25%;
    height: 100%;
    padding: 10px;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
    @media (max-width: 991px){
      width: 40%;
      padding-right: 0;
      padding-left: 0;
    }
    @media (max-width: 550px){
      width: 70%;
    }
    @media (max-width: 450px){
      width: 90%;
    }
  }
}

.pagecontacts-maps-map{
  max-width: 1140px;
  height: 470px;
  margin-bottom: 20px;
  @media (max-width: 767px){
    height: 300px;
  }
  img{
    width: 100%;
    height: auto;
  }
}

.pagecontacts-lic{
  padding-bottom: 50px;
  h4{
    margin-bottom: 40px;
    font-size: 26px;
    text-align: center;
  }

  h5{
    margin-bottom: 20px;
    font-size: 26px;
  }

  h6{
    margin-bottom: 10px;
    font-size: 20px;
  }

  p{
    line-height: 33px;
  }

  img{
    border: 1px solid transparent;
    &:hover{
      border: 1px solid #46b2ec;
    }
  }
}

.pagecontacts-rekviziti{
  @media only screen and (max-width: 991px){
    margin-bottom: 20px;
    text-align: center;
  }
}

.pagecontacts-lic_img{
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px){
    max-width: 500px;
    margin: 0 auto;

    flex-wrap: wrap;
    img{
      margin: 5px 0;
    }
  }
  @media (max-width: 450px){
    justify-content: center;
  }
  a{
    padding: 0 10px;
    img{
      width: 100%;
    }
  }
}
