@font-face{
  font-family: OpenSansRegular;

  src: url("../fonts/OpenSansRegular.woff");
}
@font-face{
  font-family: OpenSansBold;

  src: url("../fonts/OpenSansBold.woff");
}

@font-face{
  font-family: "ElementalEnd_BH";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/ElementalEnd_BH/ElementalEnd_BH.eot");
  src: url("../fonts/ElementalEnd_BH/ElementalEnd_BH.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ElementalEnd_BH/ElementalEnd_BH.woff2") format("woff2"),
  url("../fonts/ElementalEnd_BH/ElementalEnd_BH.woff") format("woff"),
  url("../fonts/ElementalEnd_BH/ElementalEnd_BH.ttf") format("truetype"),
  url("../fonts/ElementalEnd_BH/ElementalEnd_BH.svg#ElementalEnd_BH") format("svg");
}

@font-face{
  font-family: "MyriadPro-BoldIt";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/myriadpro/MyriadPro-BoldIt/MyriadPro-BoldIt.eot");
  src: url("../fonts/myriadpro/MyriadPro-BoldIt/MyriadPro-BoldIt.eot?#iefix") format("embedded-opentype"),
  url("../fonts/myriadpro/MyriadPro-BoldIt/MyriadPro-BoldIt.woff2") format("woff2"),
  url("../fonts/myriadpro/MyriadPro-BoldIt/MyriadPro-BoldIt.woff") format("woff"),
  url("../fonts/myriadpro/MyriadPro-BoldIt/MyriadPro-BoldIt.ttf") format("truetype"),
  url("../fonts/myriadpro/MyriadPro-BoldIt/MyriadPro-BoldIt.svg#MyriadPro-BoldIt") format("svg");
}

@font-face{
  font-family: "MyriadPro-Cond";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/myriadpro/MyriadPro-Cond/MyriadPro-Cond.eot");
  src: url("../fonts/myriadpro/MyriadPro-Cond/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"),
  url("../fonts/myriadpro/MyriadPro-Cond/MyriadPro-Cond.woff2") format("woff2"),
  url("../fonts/myriadpro/MyriadPro-Cond/MyriadPro-Cond.woff") format("woff"),
  url("../fonts/myriadpro/MyriadPro-Cond/MyriadPro-Cond.ttf") format("truetype"),
  url("../fonts/myriadpro/MyriadPro-Cond/MyriadPro-Cond.svg#MyriadPro-Cond") format("svg");
}

@font-face{
  font-family: "MyriadPro-It";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/myriadpro/MyriadPro-It/MyriadPro-It.eot");
  src: url("../fonts/myriadpro/MyriadPro-It/MyriadPro-It.eot?#iefix") format("embedded-opentype"),
  url("../fonts/myriadpro/MyriadPro-It/MyriadPro-It.woff2") format("woff2"),
  url("../fonts/myriadpro/MyriadPro-It/MyriadPro-It.woff") format("woff"),
  url("../fonts/myriadpro/MyriadPro-It/MyriadPro-It.ttf") format("truetype"),
  url("../fonts/myriadpro/MyriadPro-It/MyriadPro-It.svg#MyriadPro-It") format("svg");
}

@font-face{
  font-family: "MyriadPro-Regular";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/myriadpro/MyriadPro-Regular/MyriadPro-Regular.eot");
  src: url("../fonts/myriadpro/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/myriadpro/MyriadPro-Regular/MyriadPro-Regular.woff2") format("woff2"),
  url("../fonts/myriadpro/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
  url("../fonts/myriadpro/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"),
  url("../fonts/myriadpro/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}
