.main__footer{
  padding: 55px 0;
  font-size: 20px;
  background: #3b3b3b;
  @media (max-width: 1366px){
    padding: 30px 0;
  }
  @media (max-width: 450px) {
    padding: 15px 0;
  }
}


.main__footer-leftmenu{
  text-align: left;
  @media (max-width: 1000px){
    display: none;
  }
  a{
    display: inline-block;
    margin: 3px;
    line-height: 26px;
    color: #b7b6b6;
    text-decoration: none;
    &:hover{
      color: #fafafa;
      text-decoration: underline;
    }
  }
  > a{
    padding: 10px 15px;
    margin-top: 15px;
    font-size: 15px;
    line-height: normal;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    &:hover{
      color: #3b3b3b;
      text-decoration: none;
      background-color: #fff;
    }
  }
}


.main__footer-copyright{
  margin-bottom: 25px;
  line-height: 33px;
  color: @color-main__footer-copyright;
  text-align: center;

  @color-main__footer-copyright: #fafafa;
  @media (max-width: 1000px){
    margin-top: 0;
  }
  @media (max-width: 450px){
    display: none;
  }
  a{
    color: @color-main__footer-copyright;
    text-decoration: none;
    &:hover{
      color: #35b5eb;
      border-bottom: 1px dashed #35b5eb;
    }
  }
}


.main__footer-social{
  text-align: center;
  a{
    display: inline-block;
    margin: 0 5px;
    filter: grayscale(1);
    background-size: 100% 100%;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    vertical-align: middle;
    &:hover{
      filter: grayscale(0);
    }
    &:nth-child(1){
      background-image: url(../img/soc-vk.svg);
    }
    &:nth-child(2){
      background-image: url(../img/soc-tw.svg);
    }
    &:nth-child(3){
      background-image: url(../img/soc-ig.svg);
    }
    &:nth-child(4){
      background-image: url(../img/soc-g+.svg);
    }
  }
}


.main__footer-rightmenu{
  text-align: right;
  @media (max-width: 1000px){
    display: none;
  }
  a{
    display: inline-block;
    margin: 3px;
    line-height: 26px;
    color: #b7b6b6;
    text-decoration: none;
    &:hover{
      color: #fafafa;
      text-decoration: underline;
    }
  }
}
