header.main__header{
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #d8d8d8;
  @media (max-width: 1024px){
    text-align: inherit;
  }
}


.header-wrap{
  max-width: 1525px;
  padding: 0 15px;
  margin: 0 auto;
  > *{
    display: inline-block;
    vertical-align: middle;
  }
}
.main__header-logo{
  color: #000;
  text-align: center;
  text-decoration: none;
  @media (max-width: 1024px){
    margin: 5px 0;
  }
  > *{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    @media (max-width: 1350px){
      display: block;
    }
    @media (max-width: 1024px){
      display: inline-block;
    }
  }
  span{
    @media (max-width: 400px){
      font-size: 22px;
    }
    @media (max-width: 380px){
      font-size: 18px;
    }
    @media (max-width: 340px){
      font-size: 16px;
    }
  }
  img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  span{
    font: normal 25px ElementalEnd_BH, sans-serif;
    @media (max-width: 1350px){
      display: none;
    }
    @media (max-width: 1024px){
      display: inline-block;
    }
  }
}
.main__header-menu{
  margin: 0 3%;
  font-size: 21px;
  @media (max-width: 1400px){
    margin: 0 1%;
  }
  li{
    float: left;
    a{
      position: relative;
      display: block;
      padding: 0 18px;
      line-height: 110px;
      color: #2a2a2a;
      text-decoration: none;
      &:after,
      &:before{
        position: absolute;
        left: 47%;
        width: 5px;
        height: 40px;
        content: "";
        background: #000;
        opacity: 0;
        transition: all .5s;
      }
      &:before{
        top: 0;
      }
      &:after{
        bottom: 0;
      }
      &:hover::before{
        opacity: 1;
      }
      &:hover::after{
        opacity: 1;
      }
    }
  }
  @media (max-width: 1024px){
    display: none;
  }
}
.main__header-tele{
  text-align: right;
  @media (max-width: 1024px){
    display: none;
  }
  a{
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
  }
}
.main__header-request{
  position: relative;
  margin-left: 2%;
  @media (max-width: 1120px){
    display: none;
  }
  a{
    position: relative;
    &:hover + span{
      pointer-events: auto;
      opacity: 1;
      -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
      transform: translate3d(0,0,0) rotate3d(0,0,0,0);
    }
  }
  form{
    display: none;
  }
}


.tooltip{
  position: absolute;
  top: 250%;
  left: 0;
  width: 100%;
  padding: 10px;
  color: #35b5eb;
  letter-spacing: 1px;
  pointer-events: none;
  background-color: #fff;
  border: 1px solid #35b5eb;
  opacity: 0;
  transition: opacity .3s, transform .3s;
  transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
  &:before,
  &:after{
    position: absolute;
    bottom: 100%;
    left: calc(~"50% - 8px");
    margin-left: -10px;
    pointer-events: none;
    content: "";
    border-right: 10px solid transparent;
    border-bottom: 16px solid #35b5eb;
    border-left: 10px solid transparent;
  }
  &:after{
    left: calc(~"50% - 7px");
    border-right: 9px solid transparent;
    border-bottom: 14px solid #fff;
    border-left: 9px solid transparent;
  }
}


.main__header-xs-menu{
  display: none;
  @media (max-width: 1024px){
    position: absolute;
    right: 0;
    display: inline-block;
    padding: 30px;
  }
  span{
    @media (max-width: 1024px){
      position: relative;
      display: inline-block;
      width: 30px;
      height: 5px;
      background: #000;
      &:after,
      &:before{
        position: absolute;
        width: 30px;
        height: 5px;
        content: "";
        background: #000;
      }
      &:before{
        top: -10px;
      }
      &:after{
        top: 10px;
      }
    }
  }
}




.mfp-content{
  position: relative;
  max-width: 500px;
  padding: 40px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}
