.main__bgvideo{
  display: flex;
  height: 90vh;
  font-family: MyriadPro-Cond, sans-serif;
  line-height: 1.8;
  color: #fff;
  text-transform: uppercase;
  background: url(../img/bgvideo.jpg) center/cover;

  align-items: center;
}


.main__bgvideo-descr span{
  padding: 10px;
  margin: 10px;
  font-size: 49px;
  font-weight: 100;
  background: #000;
  @media (max-width: 700px){
    font-size: 45px;
  }
  @media (max-width: 650px){
    font-size: 40px;
  }
  @media (max-width: 600px){
    font-size: 38px;
    line-height: 2;
  }
  @media (max-width: 560px){
    font-size: 35px;
  }
  @media (max-width: 520px){
    font-size: 33px;
    line-height: 2.2;
  }
  @media (max-width: 490px){
    font-size: 30px;
    line-height: 2.4;
  }
  @media (max-width: 460px){
    font-size: 25px;
  }
  @media (max-width: 390px){
    font-size: 22px;
    line-height: 2.6;
  }
  @media (max-width: 350px){
    font-size: 19px;
  }
}





.main__portfolio{
  padding: 50px 0;
  overflow: hidden;
  color: #fff;
  background: #35b5eb;
  h2{
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}





.main__content{
  padding: 50px 0;
  font-family: OpenSansRegular, sans-serif;
  color: #2a2a2a;
}


.main__content-article{
  ul{
    margin-left: 20px;
    font-size: 18px;
    line-height: 32px;
    list-style-type: disc;
  }
  h3{
    font: 30px MyriadPro-BoldIt, sans-serif;
  }
  h4{
    margin: 20px 0;
    font: 900 22px MyriadPro-It, sans-serif ;
  }
  p{
    margin: 20px 0;
    font-size: 18px;
    line-height: 25px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}





.main__content-calc{
  padding: 40px;
  margin-bottom: 50px;
  text-align: center;
  background: #e9ae4b;
  @media (max-width: 991px){
    margin: 50px auto;
  }
}


.main__content-calc-opis{
  font: 27px OpenSansBold, sans-serif;
  color: #fff;
  text-align: center;
}
.main__content-calc-button{
  display: inline-block;
  padding: 10px 30px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 900;
  color: #4b4b4b;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
}


.main__content-dignity li{
  min-height: 25px;
  padding-left: 50px;
  margin-bottom: 30px;
  font-size: 18px;
  color: #5a5a5a;
  &:nth-child(1){
    background: url("../img/icon1.png") no-repeat;
  }
  &:nth-child(2){
    background: url("../img/icon2.png") no-repeat;
  }
  &:nth-child(3){
    background: url("../img/icon3.png") no-repeat;
  }
  &:nth-child(4){
    background: url("../img/icon4.png") no-repeat;
  }
  &:nth-child(5){
    background: url("../img/icon5.png") no-repeat;
  }
  &:nth-child(6){
    background: url("../img/icon6.png") no-repeat;
  }
  &:nth-child(7){
    background: url("../img/icon7.png") no-repeat;
  }
}





.main__services{
  padding: 50px 0;
  color: #fff;
  background-image: url("../img/bgservices.jpg");
  background-size: contain;
  @media (max-width: 1160px){
    background-image: url(../img/bgservices_xs.png);
    background-size: auto;
  }
  h2{
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
  }
}



.main__services-wrap{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 1200px){
    justify-content: space-around;
  }
}


.main__services-item{
  padding: 40px 10px;
  margin: 10px;
  text-align: center;
  background-color: #000;
  border-top: 10px solid;
  flex-basis: 265px;
  &:nth-child(1){
    border-top-color: #32bc73;
  }
  &:nth-child(2){
    border-top-color: #d0da32;
  }
  &:nth-child(3){
    border-top-color: #e79339;
  }
  &:nth-child(4){
    border-top-color: #54add7;
  }
  &:nth-child(5){
    border-top-color: #54b9c8;
  }
  &:nth-child(6){
    border-top-color: #8a2790;
  }
  &:nth-child(7){
    border-top-color: #4d54ba;
  }
  &:nth-child(8){
    border-top-color: #eb5b4c;
  }
  h3{
    font-size: 22px;
  }
  img{
    width: 120px;
    height: 120px;
    margin: 35px 0;
  }
  p{
    color: #9b9b9b;
  }
}





.main__sendforma{
  padding: 50px 15px;
  text-align: center;
  background-color: #f6f6f6;
  h3{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 100;
  }
  h4{
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: 100;
    color: #545454;
  }
}


.contact_form{
  max-width: 440px;
}
