.portfolio__content{
  padding: 50px 0;
  h1{
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 30px;
    color: #2a2a2a;
  }
  @media (max-width: 991px) {
    .row{
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.portfolio_wrap{
  @media (max-width: 991px) {
    padding: 0;
    p{
      display: none;
    }
  }
}

.pf-text-top{
  margin-left: 10px;
  color: #505050;
  font-size: 18px;
}


.portfolio-items{
  margin-top: 40px;
  @media (max-width: 991px) {
    margin-top: 0;
  }
}


.portfolio-item{
  position: relative;
  max-width: 229px;
  width: 100%;
  margin: 191px 10px 25px;
  @media (max-width: 600px) {
    max-width: 100% !important;
    width: auto;
    margin-top: 220px;
    &:before{
      width: 100% !important;
    }
  }
  &:before{
    content: '';
    position: absolute;
    bottom: calc(~"100% + 20px");
    width: 229px;
    height: 171px;
    background: url(http://lorempixel.com/1280/720/) center;
    background-size: cover;
  }
  a{
    color: #000000;
    &:hover,
    &:focus{
      border-bottom: 1px solid #2d9ac8;
      -webkit-box-decoration-break: clone;
    }
  }
  strong{
    text-transform: uppercase;
  }
  span{
    display: inline-block;
    margin-top: 5px;
    color: #6c6c6c;
  }

  &.width1{
    max-width: 336px;
    &:before{
      width: 336px;
    }
  }
  &.width2{
    max-width: 469px;
    margin-top: 450px;
    @media (max-width: 600px) {
      margin-top: 480px;
    }
    &:before{
      width: 469px;
      height: 430px;
    }
  }
  &.height2{
    max-width: 326px;
    margin-top: 450px;
    @media (max-width: 600px) {
      margin-top: 480px;
    }
    &:before{
      width: 326px;
      height: 430px;
    }
  }
}





.portfolio_side{
  @media (max-width: 991px) {
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: 768px) {
    padding: 0;
  }
  button{
    display: block;
    max-width: 180px;
    margin-left: 5px;
    padding-bottom: 5px;
    color: #606060;
    font-family: OpenSansRegular, sans-serif;
    font-size: 15px;
    border-bottom: 1px solid #d8d8d8;
    background-color: transparent;
    &:hover{
      border-bottom-color: #e9ae4b;
    }
    @media (max-width: 991px) {
      max-width: none;
      width: 100%;
      margin-left: 0;
      text-align: left;
      padding-left: 20px;
      &.active{
        margin-left: 0;
        padding-left: 20px;
        &:before{
          left: 7px;
        }
      }
    }
    &.active{
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 48px;
      max-width: none;
      margin-top: 5px;
      margin-left: -20px;
      padding-left: 40px;
      background-color: #e9ae4b;
      color: #ffffff;
      border: none;
      &:before{
        content: '';
        position: absolute;
        top: 20px;
        left: 25px;
        width: 7px;
        height: 7px;
        background-color: #fff;
      }
    }
    + button{
      margin-top: 15px;
    }
  }
}





.pagination{
  margin-top: 25px;
  text-align: center;
  .page,
  .prev,
  .next{
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 5px;
    line-height: 26px;
    border: 1px solid rgba(0, 0, 0, .49);
    border-radius: 50%;
    vertical-align: middle;
  }
  .page{
    font-size: 14px;
    color: #000000;
    &:hover:not(.current):not(.dots){
      border-color: #35b5eb;
    }
  }
  .current,
  .dots{
    cursor: default;
  }
  .current{
    background-color: #000000;
    color: #ffffff;
  }
  .prev,
  .next{
    color: transparent;
  }
  .prev,
  .next{
    background: url(../img/pagination-arr.svg) no-repeat center;
    &:hover{
      background-color: #000000;
      background-image: url(../img/pagination-arr-h.svg);
    }
  }
  .next{
    transform: rotate(180deg);
  }
}





.portfolio-center{
  padding: 50px 0;
  color: #ffffff;
  background-color: #35b5eb;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1199px) {
      flex-direction: column;
      height: 250px;
    }
    &:before,
    &:after{
      position: absolute;
    }
  }
}

.pf-c-left{
  font-size: 30px;
  text-align: center;
  span{
    display: block;
    width: 407px;
    margin-bottom: 14px;
    padding: 5px;
    font-size: 26px;
    background-color: #309ecd;
  }
}

.pf-c-center{
  position: relative;
  font-size: 22px;
  line-height: 16px;
  text-transform: uppercase;
  @media (min-width: 1200px) {
    &:before,
    &:after{
      content: '';
      position: absolute;
      width: 55px;
      height: 28px;
      background-image: url(../img/pf-arr.svg);
    }
    &:before{
      right: 140%;
      bottom: 100%;
    }
    &:after{
      top: 100%;
      left: 140%;
      transform: rotate(180deg);
    }
  }
}

.pf-c-right{
  display: block;
  text-align: center;
  line-height: 72px;
  width: 479px;
  height: 72px;
  color: #d49d40;
  font-size: 28px;
  background-color: #ffffff;
  box-shadow: -3.5px 8.3px 19.5px 1.5px rgba(53, 53, 53, 0.21);
}





.pf-about-text{
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
    margin-bottom: 30px;
  }
}

.pf-a-t-top{
  margin-bottom: 35px;
  padding: 10px 0 10px 20px;
  color: #5f5f5f;
  font-size: 18px;
  font-style: italic;
  border-left: 2px solid #6ed4e8;
}

.pf-a-t-bottom{
  display: flex;
  justify-content: space-between;
  color: #444;
  @media (max-width: 991px) {
    flex-direction: column;
    p + p{
      margin-top: 30px;
    }
  }
  p{
    flex-basis: 49%;
    font-size: 19px;
  }
  strong{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }
}





.pf-reviews{
  padding: 50px 0 40px;
  background: url(../img/pf-reviews-bg.jpg) center;
  background-size: cover;
  h2{
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 3.5px;
  }
}

.pf-reviews-items{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pf-reviews-item{
  position: relative;
  max-width: 265px;
  margin: 10px 5px;
  padding: 135px 22px 30px;
  color: #dbdbdb;
  background-color: rgba(0,0,0,.41);
  border: 1px solid rgba(255,255,255,.41);
  font-size: 16px;
  &:hover{
    background-color: rgba(105, 105, 105, .41);
  }
  &:before{
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: auto;
    width: 83px;
    height: 83px;
    background: #ccc url(../img/pf-reviews-ava.svg) no-repeat center;
    border-radius: 50%;
  }
  p{
    line-height: 1.5;
  }
  span{
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
  }
  a{
    color: #dbdbdb;
    font-size: 14px;
    &:hover{
      color: #35b5eb;
      text-decoration: underline;
    }
  }
}