.pf-breadcrumbs{
  padding-top: 5px;
  padding-bottom: 5px;
  color: #595959;
  font-size: 12px;
  border-bottom: 1px solid #d8d8d8;
  a,
  span{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
  }
  a{
    color: #35b5eb;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}




.pfi{
  padding: 50px 0;
  h2{
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
    color: #2a2a2a;
    text-align: center;
    text-transform: uppercase;
  }
}




.pfi-top-slider-wrap{
  height: 625px;
  background: url(../img/pf/macbook.png) center top no-repeat,linear-gradient(to bottom,#fff 33px,#131314 0,#505258 467px,#fff 0);
}


.pfi-t-s-container{
  position: relative;
  top: 31px;
  max-width: 100%;
  width: 687px;
  height: 433px;
  margin: auto;
  img{
    width: 100%;
    height: 100%;
  }
}


.pfi-t-s{
  .lSPager.lSpg{
    margin-top: 115px !important;
    li{
      border-radius: 50%;
      &.active a,
      &:hover a{
        border: none;
        background-color: #35b5eb;
      }
      a{
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 1px solid #767676;
        transition: none;
      }
    }
  }
}




.pfi-summary{
  margin-bottom: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
  border: 1px solid #d8d8d8;
  border-left: none;
  border-right: none;
  .pfi-wrap{
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
      .pfi-s-info{
        margin-right: 0;
      }
      .pfi-s-text{
        flex-basis: auto;
      }
    }
  }
}


.pfi-wrap{
  max-width: 1010px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}


.pfi-s-info{
  flex-shrink: 0;
  margin-right: 25px;
  color: #404040;
  font-size: 20px;
  li{
    margin-bottom: 20px;
    padding-left: 40px;
    background: no-repeat left center;
    &:nth-child(1){
      background-image: url(../img/pf/client.svg);
    }
    &:nth-child(2){
      background-image: url(../img/pf/link.svg);
    }
    &:nth-child(3){
      background-image: url(../img/pf/launch.svg);
    }
  }
  a{
    color: #35b5eb;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}

.pfi-s-text{
  flex-basis: 610px;
  color: #444444;
  font-size: 19px;
  line-height: 1.5;
}


.pfi-screens{
  img{
    max-width: 48%;
    margin-bottom: 20px;
    @media (max-width: 550px) {
      display: block;
      max-width: 100%;
      margin: 0 auto 20px;
      &:nth-child(2n){
        margin-left: auto;
      }
    }
    &:nth-child(2n){
      margin-left: 20px;
    }
  }
}



.task-solution{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #444444;
  @media (max-width: 768px) {
    flex-direction: column;
    .task{
      margin-bottom: 40px;
    }
  }
  .task,
  .solution{
    flex-basis: 50%;
    margin-right: 20px;
    h3{
      padding-left: 45px;
      background: no-repeat left center;
    }
  }
  .task h3{
    background-image: url(../img/pf/task.svg);
  }
  .solution h3{
    background-image: url(../img/pf/solution.svg);
  }
  h3{
    margin-bottom: 25px;
    color: #404040;
    font-size: 28px;
    font-weight: 400;
  }
  p{
    padding-left: 20px;
    font-size: 19px;
    line-height: 1.5;
    border-left: 3px solid #000;
  }
}



.pfi-slider-fw{
  img{
    max-width: 100%;
  }
  .lSPager.lSpg{
    margin-top: 40px !important;
    @media (max-width: 550px) {
      margin-top: 5px !important;
    }
    li{
      border-radius: 50%;
      &.active a,
      &:hover a{
        border: none;
        background-color: #35b5eb;
      }
      a{
        width: 17px;
        height: 17px;
        background-color: #fff;
        border: 1px solid #767676;
        transition: none;
        @media (max-width: 550px) {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}




.pfi-text{
  color: #444444;
  font-size: 19px;
  line-height: 1.5;
  p{
    margin-bottom: 10px;
  }
}

.pfi-slider-hw{
  max-width: 480px;
  width: 100%;
  margin-right: 20px;
  float: left;
  @media (max-width: 768px) {
    margin: 0 auto;
    float: none;
  }
  img{
    max-width: 100%;
  }
  .lSPager.lSpg{
    position: relative;
    top: -40px;
    li{
      &.active a,
      &:hover a{
        background-color: #35b5eb;
      }
      a{
        width: 17px;
        height: 17px;
        background-color: #fff;
        transition: none;
        @media (max-width: 550px) {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}




.pfi-collaborators{
  margin-top: 65px;
  h3{
    margin-bottom: 30px;
    color: #404040;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
  }
  table{
    width: 100%;
  }
  td{
    padding: 24px;
    text-align: center;
    border: 1px solid #bebfbf;
  }
  p{
    margin-bottom: 5px;
    font-size: 18px;
    color: #43474a;
  }
  span{
    font-size: 16px;
    color: #8c8c8c;
  }
}




.want-next{
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  margin-bottom: 54px;
  @media (max-width: 790px) {
    flex-direction: column;
    .want,
    .next{
      width: 100%;
    }
    .want{
      border-right: none;
      margin-bottom: 20px;
    }
  }
  .want,
  .next{
    display: block;
    width: 49%;
    padding: 35px 5px;
    font-size: 26px;
    text-align: center;
    outline: 0;
    @media (max-width: 390px) {
      font-size: 21px;
    }
  }
  .want{
    color: #3f3f3f;
    border: 1px solid #bebfbf;
    background: url(../img/pf/want.svg) no-repeat 74% center;
    @media (max-width: 1240px) {
      background-position-x: 79%;
    }
    @media (max-width: 1060px) {
      background-position-x: 85%;
    }
    @media (max-width: 890px) {
      background-position-x: 90%;
    }
    @media (max-width: 790px) {
      background-position-x: 75%;
    }
    @media (max-width: 620px) {
      background-position-x: 80%;
    }
    @media (max-width: 520px) {
      background-position-x: 90%;
    }
    @media (max-width: 410px) {
      background-position-x: 95%;
    }
  }
  .next{
    color: #ffffff;
    background: #35b5eb url(../img/pf/next.svg) no-repeat 85% center;
    @media (max-width: 1290px) {
      background-position-x: 90%;
    }
    @media (max-width: 1140px) {
      background-position-x: 95%;
    }
    @media (min-width: 791px) and (max-width: 1030px) {
      background-image: none;
    }
    @media (max-width: 790px) {
      background-position-x: 85%;
    }
    @media (max-width: 640px) {
      background-position-x: 95%;
    }
    @media (max-width: 520px) {
      background-image: none;
    }
  }
}