*{
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
a{
  text-decoration: none;
}
ul,
ol{
  list-style-type: none;
}
input,
button,
select,
textarea{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
