@import "reset";
@import "fonts";
@import "bootstrap";
body{
  font-family: MyriadPro-Regular, sans-serif;
}
@import "header";
@import "components";
@import "footer";
@import "xsmenu";
@import "index";
@import "static_page";
@import "xplaye";
@import "contacts";
@import "blog";
@import "blog article";
@import "portfolio";
@import "portfolio_item";




// подключение библиотек <
@import "../lib/magnific popup/magnific-popup.css";
@import "../lib/sidebars/slidebars.min.css";
@import "../lib/lightslider/css/lightslider.min.css";
// > подключение библиотек

// стилизация placeholder <
::placeholder{
  transition: .5s;
}
input::placeholder{
  line-height: 20px;
}
input:focus::placeholder{
  line-height: 100px;
}
textarea::placeholder{
  opacity: 1;
}
textarea:focus::placeholder{
  opacity: 0;
}
// > стилизация placeholder

.container{
  &:before,
  &:after{
    position: absolute;
  }
}
