body{
  margin: 0;
}

#destacados-reel{
  position: relative;
  height: 420px;
  padding: 0;
  margin: 0;
}

.no-touch #destacados-reel{
  height: 460px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.no-touch #destacados-reel-wrap{
  position: relative;
  height: 420px;
  margin-bottom: 20px;
  overflow: hidden;
}

.no-touch #destacados-reel li{
  position: relative;
  left: auto;
}

.no-touch #destacados-reel .slider{
  float: left;
  width: 3840px;
}

.no-touch #scroller-wrapper{
  width: 100%;
  height: 440px;
  overflow: hidden;
}

.no-touch #slider{
  display: block;
  width: 80%;
  height: 12px;
  padding-right: 20%;
  margin: 0 auto;
  background: #0cf;
  border-radius: 15px;
}

.no-touch #scrollright{
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 4000;
  display: block;
  width: 15%;
  height: 100%;
  cursor: pointer;
}

.no-touch #scrollright2{
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 4001;
  display: none;
  width: 15%;
  height: 100%;
  cursor: pointer;
}

.no-touch #scrollright-icon-right{
  position: absolute;
  top: 42%;
  right: 0;
  width: 70px;
  height: 80px;
  background-position: -24px -240px;
  background-size: 120px auto;
}

.no-touch #scrollleft{
  position: absolute;
  left: 0;
  z-index: 4000;
  display: block;
  width: 15%;
  height: 100%;
  cursor: pointer;
}

.no-touch #scrollleft2{
  position: absolute;
  left: 0;
  z-index: 4000;
  display: block;
  width: 15%;
  height: 100%;
  cursor: pointer;
}

.no-touch #scrollleft-icon-left{
  position: absolute;
  top: 42%;
  left: 0;
  width: 70px;
  height: 80px;
  background-position: -29px -9px;
  background-size: 120px auto;
}

#destacados-reel-wrap{
  margin: 0 auto 20px;
}
#destacados-reel-mob-wrap{
  display: none;
}
#destacados-reel li{
  display: block;
  float: left;
  width: 100%;
  max-width: 940px;
  height: 420px;
  padding: 0;
  margin: 0 10px;
  list-style: none;
}

.destacados-box{
  position: relative;
  float: left;
  width: 100%;
  height: 420px;
  cursor: auto;
}

#section2 .caroufredsel_wrapper{
  top: 0;
  bottom: 0;
}

.dest-box{
  float: left;
  margin-top: 20px;
}

.text-box{
  float: left;
  width: 100%;
}

.dest-1{
  position: relative;
  float: left;
  width: 100%;
  height: 230px;
}

.dest-2{
  position: relative;
  float: left;
  width: 48.27%;
  height: 150px;
  margin-right: 3.46%;
}

.dest-3{
  position: relative;
  float: left;
  width: 48.27%;
  height: 150px;
}

.dest-4{
  position: relative;
  float: left;
  width: 100%;
  height: 400px;
}

.dest-5{
  position: relative;
  float: left;
  width: 48.27%;
  height: 190px;
  margin-right: 3.46%;
}

.dest-6{
  position: relative;
  float: left;
  width: 48.27%;
  height: 190px;
}

.dest-7{
  position: relative;
  float: left;
  width: 100%;
  height: 190px;
}

.dest-8{
  position: relative;
  float: left;
  width: 100%;
  height: 400px;
}

.dest-9{
  position: relative;
  float: left;
  width: 48.27%;
  height: 150px;
  margin-right: 3.46%;
}

.dest-10{
  position: relative;
  float: left;
  width: 48.27%;
  height: 150px;
}

.dest-11{
  position: relative;
  float: left;
  width: 100%;
  height: 230px;
}

.dest-12{
  position: relative;
  float: left;
  width: 100%;
  height: 400px;
}

.dest-img{
  position: relative;
  width: 100%;
  height: inherit;
  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.dest-img > a{
  position: relative;
  z-index: 300;
  display: block;
  width: 100%;
  height: 100%;
}

.dest-img img{
  position: absolute;
  top: 0;
  left: 0;
}

.dest-caption{
  position: absolute;
  bottom: 13px;
  left: 0;
  z-index: 200;
  width: 90%;
  padding-left: 15px;
  color: #fff;
  text-align: left;
}

.dest-caption span{
  font-weight: 900;
  text-transform: uppercase;
}

.dest-caption h4{
  font-weight: 100;
}

.destacados-1 .dest-left{
  position: relative;
  float: left;
  width: 61.70%;
}

.destacados-2 .dest-left{
  position: relative;
  float: left;
  width: 65.96%;
}

.destacados-3 .dest-left{
  position: relative;
  float: left;
  width: 61.70%;
}

.destacados-1 .dest-right{
  float: left;
  width: 36.17%;
  margin-left: 2.13%;
}

.destacados-2 .dest-right{
  float: left;
  width: 31.91%;
  margin-left: 2.13%;
}

.destacados-3 .dest-right{
  float: left;
  width: 36.17%;
  margin-left: 2.13%;
}

#dest-bts{
  position: relative;
  display: inherit;
  width: auto;
  max-width: 940px;
  padding-top: 10px;
  margin: 0 auto;
}

@media (max-width: 960px){
  #destacados-reel li{
    max-width: 800px;
  }

  .no-touch #destacados-reel .slider{
    float: left;
    width: 3280px;
  }

  .no-touch #dest-bts{
    max-width: 800px;
  }
}

@media (max-width: 800px){
  .destacados-1 .dest-right,
  .destacados-2 .dest-right,
  .destacados-3 .dest-right{
    display: none;
  }

  .destacados-1 .dest-left,
  .destacados-2 .dest-left,
  .destacados-3 .dest-left{
    width: 100%;
    margin: 0;
  }

  #destacados-reel li{
    max-width: 580px;
  }

  #dest-bts{
    width: 100%;
    max-width: 580px;
    padding-top: 30px;
  }

  .no-touch #destacados-reel .slider{
    float: left;
    width: 3600px;
  }

  .no-touch #dest-bts{
    max-width: 580px;
  }
}


@media (max-width: 640px){
  #destacados-reel li{
    max-width: 540px;
  }

  .no-touch #destacados-reel .slider{
    float: left;
    width: 3360px;
  }

  .no-touch #dest-bts{
    max-width: 540px;
  }
}

@media (max-width: 550px){
  #destacados-reel-wrap{
    display: none;
  }

  #destacados-reel-mob-wrap{
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  #destacados-reel-mob .dest-1,
  #destacados-reel-mob .dest-2,
  #destacados-reel-mob .dest-3,
  #destacados-reel-mob .dest-4,
  #destacados-reel-mob .dest-5,
  #destacados-reel-mob .dest-6,
  #destacados-reel-mob .dest-7,
  #destacados-reel-mob .dest-8,
  #destacados-reel-mob .dest-9,
  #destacados-reel-mob .dest-10,
  #destacados-reel-mob .dest-11,
  #destacados-reel-mob .dest-12{
    position: relative;
    float: left;
    width: 100%;
    max-width: 266px;
    height: 157px;
    padding: 0;
    margin: 0 10px;
  }

  #destacados-reel-mob .dest-1 .dest-img img{
    width: 150%;
    height: auto;
  }

  #destacados-reel-mob .dest-4 .dest-img img{
    width: 105%;
    height: auto;
  }

  #destacados-reel-mob .dest-7 .dest-img img{
    width: 190%;
  }

  #destacados-reel-mob .dest-img img{
    top: 0;
  }

  #destacados-reel-mob{
    position: relative;
    display: block;
    height: 157px;
    padding: 0;
    margin: 0 auto;
    overflow: visible;
  }

  #destacados-reel{
    display: none;
  }

  .dest-caption{
    width: 75%;
  }

  .dest-caption span{
    font-size: 1.333em;
  }

  .dest-caption h4{
    font-size: 1.167em;
  }

  .dest-img img{
    width: 105%;
  }

  #dest-bts,
  .no-touch #dest-bts{
    max-width: 266px;
    padding-top: 20px;
    margin-bottom: 1em;
  }

  #scroller-wrapper{
    display: none;
  }
}

@media (max-width: 640px) and (orientation: landscape){
  #destacados-reel-wrap{
    display: none;
  }

  #destacados-reel-mob-wrap{
    display: block;
  }

  #destacados-reel-mob-wrap{
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  #destacados-reel-mob .dest-1,
  #destacados-reel-mob .dest-2,
  #destacados-reel-mob .dest-3,
  #destacados-reel-mob .dest-4,
  #destacados-reel-mob .dest-5,
  #destacados-reel-mob .dest-6,
  #destacados-reel-mob .dest-7,
  #destacados-reel-mob .dest-8,
  #destacados-reel-mob .dest-9,
  #destacados-reel-mob .dest-10,
  #destacados-reel-mob .dest-11,
  #destacados-reel-mob .dest-12{
    position: relative;
    float: left;
    width: 100%;
    max-width: 266px;
    height: 157px;
    padding: 0;
    margin: 0 10px;
  }

  #destacados-reel-mob .dest-1 .dest-img img{
    width: 140%;
  }

  #destacados-reel-mob .dest-7 .dest-img img{
    width: 190%;
  }

  #destacados-reel-mob{
    position: relative;
    display: block;
    height: 157px;
    padding: 0;
    margin: 0 auto;
    overflow: visible;
  }

  .dest-caption{
    width: 75%;
  }

  .dest-caption h3{
    font-size: 1.333em;
  }

  .dest-caption p{
    font-size: 1.167em;
  }

  .dest-img img{
    width: 105%;
  }

  #dest-bts{
    max-width: 266px;
    padding-top: 20px;
    margin-bottom: 1em;
  }

  #scroller-wrapper{
    display: none;
  }
}

@media (max-width: 300px){
  #dest-bts{
    max-width: 220px;
  }
}
