.xsmenu_right a{
  padding: 18px 10px 18px 37px;
  color: #f2f2f2;
  border-left: 3px solid #000;
  &:hover{
    color: #35b5eb;
    background: #242424;
    border-left: 3px solid #35b5eb;
  }
}

.sb-slidebar.sb-active{
  font-size: 18px;
  background: #000;
  a{
    display: block;
    color: #d0d0d0;
    text-decoration: none;
  }
  > a{
    width: 140px;
    margin: 30px auto;
    text-align: center;
    border-bottom: 1px dashed #808080;
  }
  a.bh-button{
    width: 180px;
    font-size: 14px;
    border-bottom: none;
  }
  form{
    display: none;
  }
}
