@import "../lib/magnific popup/magnific-popup.css";@import "../lib/sidebars/slidebars.min.css";@import "../lib/lightslider/css/lightslider.min.css";* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style-type: none;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

@font-face {
	font-family: OpenSansRegular;
	src: url("../fonts/OpenSansRegular.woff");
}

@font-face {
	font-family: OpenSansBold;
	src: url("../fonts/OpenSansBold.woff");
}

@font-face {
	font-family: "ElementalEnd_BH";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/ElementalEnd_BH/ElementalEnd_BH.eot");
	src: url("../fonts/ElementalEnd_BH/ElementalEnd_BH.eot?#iefix") format("embedded-opentype"), url("../fonts/ElementalEnd_BH/ElementalEnd_BH.woff2") format("woff2"), url("../fonts/ElementalEnd_BH/ElementalEnd_BH.woff") format("woff"), url("../fonts/ElementalEnd_BH/ElementalEnd_BH.ttf") format("truetype"), url("../fonts/ElementalEnd_BH/ElementalEnd_BH.svg#ElementalEnd_BH") format("svg");
}

@font-face {
	font-family: "MyriadPro-BoldIt";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/myriadpro/MyriadPro-BoldIt/MyriadPro-BoldIt.eot");
	src: url("../fonts/myriadpro/MyriadPro-BoldIt/MyriadPro-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro/MyriadPro-BoldIt/MyriadPro-BoldIt.woff2") format("woff2"), url("../fonts/myriadpro/MyriadPro-BoldIt/MyriadPro-BoldIt.woff") format("woff"), url("../fonts/myriadpro/MyriadPro-BoldIt/MyriadPro-BoldIt.ttf") format("truetype"), url("../fonts/myriadpro/MyriadPro-BoldIt/MyriadPro-BoldIt.svg#MyriadPro-BoldIt") format("svg");
}

@font-face {
	font-family: "MyriadPro-Cond";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/myriadpro/MyriadPro-Cond/MyriadPro-Cond.eot");
	src: url("../fonts/myriadpro/MyriadPro-Cond/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro/MyriadPro-Cond/MyriadPro-Cond.woff2") format("woff2"), url("../fonts/myriadpro/MyriadPro-Cond/MyriadPro-Cond.woff") format("woff"), url("../fonts/myriadpro/MyriadPro-Cond/MyriadPro-Cond.ttf") format("truetype"), url("../fonts/myriadpro/MyriadPro-Cond/MyriadPro-Cond.svg#MyriadPro-Cond") format("svg");
}

@font-face {
	font-family: "MyriadPro-It";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/myriadpro/MyriadPro-It/MyriadPro-It.eot");
	src: url("../fonts/myriadpro/MyriadPro-It/MyriadPro-It.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro/MyriadPro-It/MyriadPro-It.woff2") format("woff2"), url("../fonts/myriadpro/MyriadPro-It/MyriadPro-It.woff") format("woff"), url("../fonts/myriadpro/MyriadPro-It/MyriadPro-It.ttf") format("truetype"), url("../fonts/myriadpro/MyriadPro-It/MyriadPro-It.svg#MyriadPro-It") format("svg");
}

@font-face {
	font-family: "MyriadPro-Regular";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/myriadpro/MyriadPro-Regular/MyriadPro-Regular.eot");
	src: url("../fonts/myriadpro/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro/MyriadPro-Regular/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/myriadpro/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), url("../fonts/myriadpro/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/myriadpro/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=86bf3f0a693d691617a6)
 * Config saved to config.json and https://gist.github.com/86bf3f0a693d691617a6
 */

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

dfn {
	font-style: italic;
}

mark {
	color: #000;
	background: #ff0;
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	height: 0;
	box-sizing: content-box;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid #c0c0c0;
}

legend {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td,
th {
	padding: 0;
}

* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

figure {
	margin: 0;
}

img {
	vertical-align: middle;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.img-rounded {
	border-radius: 6px;
}

.img-thumbnail {
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	transition: all 0.2s ease-in-out;
}

.img-circle {
	border-radius: 50%;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

[role="button"] {
	cursor: pointer;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xs-13,
.col-sm-13,
.col-md-13,
.col-lg-13,
.col-xs-14,
.col-sm-14,
.col-md-14,
.col-lg-14,
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-xs-16,
.col-sm-16,
.col-md-16,
.col-lg-16 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-13,
.col-xs-14,
.col-xs-15,
.col-xs-16 {
	float: left;
}

.col-xs-16 {
	width: 100%;
}

.col-xs-15 {
	width: 93.75%;
}

.col-xs-14 {
	width: 87.5%;
}

.col-xs-13 {
	width: 81.25%;
}

.col-xs-12 {
	width: 75%;
}

.col-xs-11 {
	width: 68.75%;
}

.col-xs-10 {
	width: 62.5%;
}

.col-xs-9 {
	width: 56.25%;
}

.col-xs-8 {
	width: 50%;
}

.col-xs-7 {
	width: 43.75%;
}

.col-xs-6 {
	width: 37.5%;
}

.col-xs-5 {
	width: 31.25%;
}

.col-xs-4 {
	width: 25%;
}

.col-xs-3 {
	width: 18.75%;
}

.col-xs-2 {
	width: 12.5%;
}

.col-xs-1 {
	width: 6.25%;
}

.col-xs-pull-16 {
	right: 100%;
}

.col-xs-pull-15 {
	right: 93.75%;
}

.col-xs-pull-14 {
	right: 87.5%;
}

.col-xs-pull-13 {
	right: 81.25%;
}

.col-xs-pull-12 {
	right: 75%;
}

.col-xs-pull-11 {
	right: 68.75%;
}

.col-xs-pull-10 {
	right: 62.5%;
}

.col-xs-pull-9 {
	right: 56.25%;
}

.col-xs-pull-8 {
	right: 50%;
}

.col-xs-pull-7 {
	right: 43.75%;
}

.col-xs-pull-6 {
	right: 37.5%;
}

.col-xs-pull-5 {
	right: 31.25%;
}

.col-xs-pull-4 {
	right: 25%;
}

.col-xs-pull-3 {
	right: 18.75%;
}

.col-xs-pull-2 {
	right: 12.5%;
}

.col-xs-pull-1 {
	right: 6.25%;
}

.col-xs-pull-0 {
	right: auto;
}

.col-xs-push-16 {
	left: 100%;
}

.col-xs-push-15 {
	left: 93.75%;
}

.col-xs-push-14 {
	left: 87.5%;
}

.col-xs-push-13 {
	left: 81.25%;
}

.col-xs-push-12 {
	left: 75%;
}

.col-xs-push-11 {
	left: 68.75%;
}

.col-xs-push-10 {
	left: 62.5%;
}

.col-xs-push-9 {
	left: 56.25%;
}

.col-xs-push-8 {
	left: 50%;
}

.col-xs-push-7 {
	left: 43.75%;
}

.col-xs-push-6 {
	left: 37.5%;
}

.col-xs-push-5 {
	left: 31.25%;
}

.col-xs-push-4 {
	left: 25%;
}

.col-xs-push-3 {
	left: 18.75%;
}

.col-xs-push-2 {
	left: 12.5%;
}

.col-xs-push-1 {
	left: 6.25%;
}

.col-xs-push-0 {
	left: auto;
}

.col-xs-offset-16 {
	margin-left: 100%;
}

.col-xs-offset-15 {
	margin-left: 93.75%;
}

.col-xs-offset-14 {
	margin-left: 87.5%;
}

.col-xs-offset-13 {
	margin-left: 81.25%;
}

.col-xs-offset-12 {
	margin-left: 75%;
}

.col-xs-offset-11 {
	margin-left: 68.75%;
}

.col-xs-offset-10 {
	margin-left: 62.5%;
}

.col-xs-offset-9 {
	margin-left: 56.25%;
}

.col-xs-offset-8 {
	margin-left: 50%;
}

.col-xs-offset-7 {
	margin-left: 43.75%;
}

.col-xs-offset-6 {
	margin-left: 37.5%;
}

.col-xs-offset-5 {
	margin-left: 31.25%;
}

.col-xs-offset-4 {
	margin-left: 25%;
}

.col-xs-offset-3 {
	margin-left: 18.75%;
}

.col-xs-offset-2 {
	margin-left: 12.5%;
}

.col-xs-offset-1 {
	margin-left: 6.25%;
}

.col-xs-offset-0 {
	margin-left: 0%;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
	display: table;
	content: " ";
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
	clear: both;
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.hidden {
	display: none !important;
}

.affix {
	position: fixed;
}

@-ms-viewport {
	width: device-width;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
	display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
	display: none !important;
}

.visible-print {
	display: none !important;
}

.visible-print-block {
	display: none !important;
}

.visible-print-inline {
	display: none !important;
}

.visible-print-inline-block {
	display: none !important;
}

body {
	font-family: MyriadPro-Regular, sans-serif;
}

header.main__header {
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #d8d8d8;
}

.header-wrap {
	max-width: 1525px;
	padding: 0 15px;
	margin: 0 auto;
}

.header-wrap > * {
	display: inline-block;
	vertical-align: middle;
}

.main__header-logo {
	color: #000;
	text-align: center;
	text-decoration: none;
}

.main__header-logo > * {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.main__header-logo img {
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.main__header-logo span {
	font: normal 25px ElementalEnd_BH, sans-serif;
}

.main__header-menu {
	margin: 0 3%;
	font-size: 21px;
}

.main__header-menu li {
	float: left;
}

.main__header-menu li a {
	position: relative;
	display: block;
	padding: 0 18px;
	line-height: 110px;
	color: #2a2a2a;
	text-decoration: none;
}

.main__header-menu li a:after,
.main__header-menu li a:before {
	position: absolute;
	left: 47%;
	width: 5px;
	height: 40px;
	content: "";
	background: #000;
	opacity: 0;
	transition: all .5s;
}

.main__header-menu li a:before {
	top: 0;
}

.main__header-menu li a:after {
	bottom: 0;
}

.main__header-menu li a:hover::before {
	opacity: 1;
}

.main__header-menu li a:hover::after {
	opacity: 1;
}

.main__header-tele {
	text-align: right;
}

.main__header-tele a {
	display: block;
	font-size: 20px;
	font-weight: 700;
	color: #000;
	text-decoration: none;
}

.main__header-request {
	position: relative;
	margin-left: 2%;
}

.main__header-request a {
	position: relative;
}

.main__header-request a:hover + span {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
	transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}

.main__header-request form {
	display: none;
}

.tooltip {
	position: absolute;
	top: 250%;
	left: 0;
	width: 100%;
	padding: 10px;
	color: #35b5eb;
	letter-spacing: 1px;
	pointer-events: none;
	background-color: #fff;
	border: 1px solid #35b5eb;
	opacity: 0;
	transition: opacity .3s, -webkit-transform .3s;
	transition: opacity .3s, transform .3s;
	-webkit-transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
	transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
}

.tooltip:before,
.tooltip:after {
	position: absolute;
	bottom: 100%;
	left: calc(50% - 8px);
	margin-left: -10px;
	pointer-events: none;
	content: "";
	border-right: 10px solid transparent;
	border-bottom: 16px solid #35b5eb;
	border-left: 10px solid transparent;
}

.tooltip:after {
	left: calc(50% - 7px);
	border-right: 9px solid transparent;
	border-bottom: 14px solid #fff;
	border-left: 9px solid transparent;
}

.main__header-xs-menu {
	display: none;
}

.mfp-content {
	position: relative;
	max-width: 500px;
	padding: 40px;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
}

.bh-button {
	padding: 15px 20px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #35b5eb;
	border: none;
}

.contact_form {
	margin: 0 auto;
}

.contact_form input,
.contact_form textarea {
	width: 100%;
	padding: 13px;
	margin: 5px 0;
	border: 1px solid #e6e6e6;
}

.contact_form input:focus,
.contact_form textarea:focus {
	border: 1px solid #3eb8ec;
}

.contact_form input:focus:invalid,
.contact_form textarea:focus:invalid {
	border: 1px solid red;
}

.contact_form textarea {
	min-height: 110px;
	resize: vertical;
}

.contact_form span {
	display: block;
	margin: 15px 0;
	color: #9e9e9e;
}

.contact_form input[type="submit"] {
	width: 215px;
	height: 50px;
	border-style: none;
}

.main__footer {
	padding: 55px 0;
	font-size: 20px;
	background: #3b3b3b;
}

.main__footer-leftmenu {
	text-align: left;
}

.main__footer-leftmenu a {
	display: inline-block;
	margin: 3px;
	line-height: 26px;
	color: #b7b6b6;
	text-decoration: none;
}

.main__footer-leftmenu a:hover {
	color: #fafafa;
	text-decoration: underline;
}

.main__footer-leftmenu > a {
	padding: 10px 15px;
	margin-top: 15px;
	font-size: 15px;
	line-height: normal;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #fff;
}

.main__footer-leftmenu > a:hover {
	color: #3b3b3b;
	text-decoration: none;
	background-color: #fff;
}

.main__footer-copyright {
	margin-bottom: 25px;
	line-height: 33px;
	color: #fafafa;
	text-align: center;
}

.main__footer-copyright a {
	color: #fafafa;
	text-decoration: none;
}

.main__footer-copyright a:hover {
	color: #35b5eb;
	border-bottom: 1px dashed #35b5eb;
}

.main__footer-social {
	text-align: center;
}

.main__footer-social a {
	display: inline-block;
	margin: 0 5px;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	background-size: 100% 100%;
	border-radius: 50%;
	width: 33px;
	height: 33px;
	vertical-align: middle;
}

.main__footer-social a:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.main__footer-social a:nth-child(1) {
	background-image: url(../img/soc-vk.svg);
}

.main__footer-social a:nth-child(2) {
	background-image: url(../img/soc-tw.svg);
}

.main__footer-social a:nth-child(3) {
	background-image: url(../img/soc-ig.svg);
}

.main__footer-social a:nth-child(4) {
	background-image: url(../img/soc-g+.svg);
}

.main__footer-rightmenu {
	text-align: right;
}

.main__footer-rightmenu a {
	display: inline-block;
	margin: 3px;
	line-height: 26px;
	color: #b7b6b6;
	text-decoration: none;
}

.main__footer-rightmenu a:hover {
	color: #fafafa;
	text-decoration: underline;
}

.xsmenu_right a {
	padding: 18px 10px 18px 37px;
	color: #f2f2f2;
	border-left: 3px solid #000;
}

.xsmenu_right a:hover {
	color: #35b5eb;
	background: #242424;
	border-left: 3px solid #35b5eb;
}

.sb-slidebar.sb-active {
	font-size: 18px;
	background: #000;
}

.sb-slidebar.sb-active a {
	display: block;
	color: #d0d0d0;
	text-decoration: none;
}

.sb-slidebar.sb-active > a {
	width: 140px;
	margin: 30px auto;
	text-align: center;
	border-bottom: 1px dashed #808080;
}

.sb-slidebar.sb-active a.bh-button {
	width: 180px;
	font-size: 14px;
	border-bottom: none;
}

.sb-slidebar.sb-active form {
	display: none;
}

.main__bgvideo {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 90vh;
	font-family: MyriadPro-Cond, sans-serif;
	line-height: 1.8;
	color: #fff;
	text-transform: uppercase;
	background: url(../img/bgvideo.jpg) center / cover;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.main__bgvideo-descr span {
	padding: 10px;
	margin: 10px;
	font-size: 49px;
	font-weight: 100;
	background: #000;
}

.main__portfolio {
	padding: 50px 0;
	overflow: hidden;
	color: #fff;
	background: #35b5eb;
}

.main__portfolio h2 {
	margin-bottom: 30px;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.main__content {
	padding: 50px 0;
	font-family: OpenSansRegular, sans-serif;
	color: #2a2a2a;
}

.main__content-article ul {
	margin-left: 20px;
	font-size: 18px;
	line-height: 32px;
	list-style-type: disc;
}

.main__content-article h3 {
	font: 30px MyriadPro-BoldIt, sans-serif;
}

.main__content-article h4 {
	margin: 20px 0;
	font: 900 22px MyriadPro-It, sans-serif;
}

.main__content-article p {
	margin: 20px 0;
	font-size: 18px;
	line-height: 25px;
}

.main__content-article p:last-child {
	margin-bottom: 0;
}

.main__content-calc {
	padding: 40px;
	margin-bottom: 50px;
	text-align: center;
	background: #e9ae4b;
}

.main__content-calc-opis {
	font: 27px OpenSansBold, sans-serif;
	color: #fff;
	text-align: center;
}

.main__content-calc-button {
	display: inline-block;
	padding: 10px 30px;
	margin-top: 30px;
	font-size: 20px;
	font-weight: 900;
	color: #4b4b4b;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #fff;
}

.main__content-dignity li {
	min-height: 25px;
	padding-left: 50px;
	margin-bottom: 30px;
	font-size: 18px;
	color: #5a5a5a;
}

.main__content-dignity li:nth-child(1) {
	background: url("../img/icon1.png") no-repeat;
}

.main__content-dignity li:nth-child(2) {
	background: url("../img/icon2.png") no-repeat;
}

.main__content-dignity li:nth-child(3) {
	background: url("../img/icon3.png") no-repeat;
}

.main__content-dignity li:nth-child(4) {
	background: url("../img/icon4.png") no-repeat;
}

.main__content-dignity li:nth-child(5) {
	background: url("../img/icon5.png") no-repeat;
}

.main__content-dignity li:nth-child(6) {
	background: url("../img/icon6.png") no-repeat;
}

.main__content-dignity li:nth-child(7) {
	background: url("../img/icon7.png") no-repeat;
}

.main__services {
	padding: 50px 0;
	color: #fff;
	background-image: url("../img/bgservices.jpg");
	background-size: contain;
}

.main__services h2 {
	margin-bottom: 50px;
	font-size: 30px;
	text-align: center;
}

.main__services-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.main__services-item {
	padding: 40px 10px;
	margin: 10px;
	text-align: center;
	background-color: #000;
	border-top: 10px solid;
	-webkit-flex-basis: 265px;
	-ms-flex-preferred-size: 265px;
	flex-basis: 265px;
}

.main__services-item:nth-child(1) {
	border-top-color: #32bc73;
}

.main__services-item:nth-child(2) {
	border-top-color: #d0da32;
}

.main__services-item:nth-child(3) {
	border-top-color: #e79339;
}

.main__services-item:nth-child(4) {
	border-top-color: #54add7;
}

.main__services-item:nth-child(5) {
	border-top-color: #54b9c8;
}

.main__services-item:nth-child(6) {
	border-top-color: #8a2790;
}

.main__services-item:nth-child(7) {
	border-top-color: #4d54ba;
}

.main__services-item:nth-child(8) {
	border-top-color: #eb5b4c;
}

.main__services-item h3 {
	font-size: 22px;
}

.main__services-item img {
	width: 120px;
	height: 120px;
	margin: 35px 0;
}

.main__services-item p {
	color: #9b9b9b;
}

.main__sendforma {
	padding: 50px 15px;
	text-align: center;
	background-color: #f6f6f6;
}

.main__sendforma h3 {
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 100;
}

.main__sendforma h4 {
	margin-bottom: 35px;
	font-size: 22px;
	font-weight: 100;
	color: #545454;
}

.contact_form {
	max-width: 440px;
}

.static_page {
	padding: 50px 0;
}

.static_page h1 {
	text-align: center;
	margin-bottom: 30px;
}

body {
	margin: 0;
}

#destacados-reel {
	position: relative;
	height: 420px;
	padding: 0;
	margin: 0;
}

.no-touch #destacados-reel {
	height: 460px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.no-touch #destacados-reel-wrap {
	position: relative;
	height: 420px;
	margin-bottom: 20px;
	overflow: hidden;
}

.no-touch #destacados-reel li {
	position: relative;
	left: auto;
}

.no-touch #destacados-reel .slider {
	float: left;
	width: 3840px;
}

.no-touch #scroller-wrapper {
	width: 100%;
	height: 440px;
	overflow: hidden;
}

.no-touch #slider {
	display: block;
	width: 80%;
	height: 12px;
	padding-right: 20%;
	margin: 0 auto;
	background: #0cf;
	border-radius: 15px;
}

.no-touch #scrollright {
	position: absolute;
	top: 20px;
	right: 0;
	z-index: 4000;
	display: block;
	width: 15%;
	height: 100%;
	cursor: pointer;
}

.no-touch #scrollright2 {
	position: absolute;
	top: 20px;
	right: 0;
	z-index: 4001;
	display: none;
	width: 15%;
	height: 100%;
	cursor: pointer;
}

.no-touch #scrollright-icon-right {
	position: absolute;
	top: 42%;
	right: 0;
	width: 70px;
	height: 80px;
	background-position: -24px -240px;
	background-size: 120px auto;
}

.no-touch #scrollleft {
	position: absolute;
	left: 0;
	z-index: 4000;
	display: block;
	width: 15%;
	height: 100%;
	cursor: pointer;
}

.no-touch #scrollleft2 {
	position: absolute;
	left: 0;
	z-index: 4000;
	display: block;
	width: 15%;
	height: 100%;
	cursor: pointer;
}

.no-touch #scrollleft-icon-left {
	position: absolute;
	top: 42%;
	left: 0;
	width: 70px;
	height: 80px;
	background-position: -29px -9px;
	background-size: 120px auto;
}

#destacados-reel-wrap {
	margin: 0 auto 20px;
}

#destacados-reel-mob-wrap {
	display: none;
}

#destacados-reel li {
	display: block;
	float: left;
	width: 100%;
	max-width: 940px;
	height: 420px;
	padding: 0;
	margin: 0 10px;
	list-style: none;
}

.destacados-box {
	position: relative;
	float: left;
	width: 100%;
	height: 420px;
	cursor: auto;
}

#section2 .caroufredsel_wrapper {
	top: 0;
	bottom: 0;
}

.dest-box {
	float: left;
	margin-top: 20px;
}

.text-box {
	float: left;
	width: 100%;
}

.dest-1 {
	position: relative;
	float: left;
	width: 100%;
	height: 230px;
}

.dest-2 {
	position: relative;
	float: left;
	width: 48.27%;
	height: 150px;
	margin-right: 3.46%;
}

.dest-3 {
	position: relative;
	float: left;
	width: 48.27%;
	height: 150px;
}

.dest-4 {
	position: relative;
	float: left;
	width: 100%;
	height: 400px;
}

.dest-5 {
	position: relative;
	float: left;
	width: 48.27%;
	height: 190px;
	margin-right: 3.46%;
}

.dest-6 {
	position: relative;
	float: left;
	width: 48.27%;
	height: 190px;
}

.dest-7 {
	position: relative;
	float: left;
	width: 100%;
	height: 190px;
}

.dest-8 {
	position: relative;
	float: left;
	width: 100%;
	height: 400px;
}

.dest-9 {
	position: relative;
	float: left;
	width: 48.27%;
	height: 150px;
	margin-right: 3.46%;
}

.dest-10 {
	position: relative;
	float: left;
	width: 48.27%;
	height: 150px;
}

.dest-11 {
	position: relative;
	float: left;
	width: 100%;
	height: 230px;
}

.dest-12 {
	position: relative;
	float: left;
	width: 100%;
	height: 400px;
}

.dest-img {
	position: relative;
	width: 100%;
	height: inherit;
	overflow: hidden;
}

.dest-img:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.dest-img > a {
	position: relative;
	z-index: 300;
	display: block;
	width: 100%;
	height: 100%;
}

.dest-img img {
	position: absolute;
	top: 0;
	left: 0;
}

.dest-caption {
	position: absolute;
	bottom: 13px;
	left: 0;
	z-index: 200;
	width: 90%;
	padding-left: 15px;
	color: #fff;
	text-align: left;
}

.dest-caption span {
	font-weight: 900;
	text-transform: uppercase;
}

.dest-caption h4 {
	font-weight: 100;
}

.destacados-1 .dest-left {
	position: relative;
	float: left;
	width: 61.70%;
}

.destacados-2 .dest-left {
	position: relative;
	float: left;
	width: 65.96%;
}

.destacados-3 .dest-left {
	position: relative;
	float: left;
	width: 61.70%;
}

.destacados-1 .dest-right {
	float: left;
	width: 36.17%;
	margin-left: 2.13%;
}

.destacados-2 .dest-right {
	float: left;
	width: 31.91%;
	margin-left: 2.13%;
}

.destacados-3 .dest-right {
	float: left;
	width: 36.17%;
	margin-left: 2.13%;
}

#dest-bts {
	position: relative;
	display: inherit;
	width: auto;
	max-width: 940px;
	padding-top: 10px;
	margin: 0 auto;
}

.pagecontacts-contenttop {
	padding: 0 0 35px 0;
	margin-top: 50px;
	color: #2a2a2a;
}

.pagecontacts-contenttop h1 {
	margin-bottom: 30px;
	margin-left: 15px;
	font-size: 30px;
}

.pagecontacts-contenttop h4 {
	margin-bottom: 20px;
	font-size: 26px;
}

.pagecontacts-contenttop h5 {
	margin-bottom: 35px;
	clear: both;
	font-size: 22px;
}

.pagecontacts-contenttop-left_table {
	padding: 40px 30px;
	margin-bottom: 35px;
	font-size: 19px;
	line-height: 33px;
	background: #f6f6f6;
}

.pagecontacts-contenttop-left_table a {
	color: #35b5eb;
}

.pagecontacts-contenttop-left_table a:hover {
	text-decoration: underline;
}

.pagecontacts-contenttop-left_table1,
.pagecontacts-contenttop-left_table2,
.pagecontacts-contenttop-left_table3 {
	overflow: hidden;
}

.pagecontacts-contenttop-left_tableleft {
	float: left;
	width: 45%;
}

.pagecontacts-contenttop-left_tableleft li {
	position: relative;
	padding-left: 15px;
	color: #444;
}

.pagecontacts-contenttop-left_tableleft li:before {
	position: absolute;
	top: calc(50% - 4px);
	left: 0;
	width: 8px;
	height: 8px;
	content: "";
	background-color: #6eb4e8;
	border-radius: 50%;
}

.pagecontacts-contenttop-left_tableright {
	float: right;
	width: 55%;
}

.pagecontacts-contenttop-left_table2,
.pagecontacts-contenttop-left_table3 {
	margin-top: 30px;
}

.pagecontacts-contenttop-left-social {
	overflow: hidden;
	clear: both;
}

.pagecontacts-contenttop-left-social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 5px;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	background-size: 100% 100%;
	border-radius: 50%;
}

.pagecontacts-contenttop-left-social a:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.pagecontacts-contenttop-left-social a:nth-child(1) {
	background-image: url(../img/soc-vk.svg);
}

.pagecontacts-contenttop-left-social a:nth-child(2) {
	background-image: url(../img/soc-tw.svg);
}

.pagecontacts-contenttop-left-social a:nth-child(3) {
	background-image: url(../img/soc-ig.svg);
}

.pagecontacts-contenttop-left-social a:nth-child(4) {
	background-image: url(../img/soc-g+.svg);
}

.pagecontacts-contenttop-right p {
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 23px;
	color: #545454;
}

.pagecontacts-contentcenter {
	width: 100%;
	padding: 35px 0;
	background: #f6f6f6;
}

.pagecontacts-contentcenter h3 {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 26px;
}

.pagecontacts-contentcenter h4 {
	margin-bottom: 25px;
	font-size: 22px;
}

.pagecontacts-contentcenter p {
	font-size: 19px;
	line-height: 1.7;
}

.pagecontacts-contentcenter img {
	width: 100%;
}

.pagecontacts-maps {
	padding: 50px 15px;
}

.pagecontacts-maps h3 {
	font-size: 26px;
}

.pagecontacts-maps p {
	margin: 20px 0;
	font-size: 20px;
	line-height: 1.5;
}

.pagecontacts-maps p img {
	margin-bottom: 15px;
	margin-left: 10px;
}

.pagecontacts-maps p span {
	position: relative;
}

.pagecontacts-maps .coffee_icon:after {
	position: absolute;
	right: -50px;
	width: 36px;
	height: 27px;
	content: "";
	background-image: url(../img/contacts/coffee.jpg);
}

.pagecontacts-maps h4 {
	margin-bottom: 40px;
	font-size: 26px;
}

.pagecontacts-gallery {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.pagecontacts-gallery img {
	width: 25%;
	height: 100%;
	padding: 10px;
}

.pagecontacts-gallery img:first-child {
	padding-left: 0;
}

.pagecontacts-gallery img:last-child {
	padding-right: 0;
}

.pagecontacts-maps-map {
	max-width: 1140px;
	height: 470px;
	margin-bottom: 20px;
}

.pagecontacts-maps-map img {
	width: 100%;
	height: auto;
}

.pagecontacts-lic {
	padding-bottom: 50px;
}

.pagecontacts-lic h4 {
	margin-bottom: 40px;
	font-size: 26px;
	text-align: center;
}

.pagecontacts-lic h5 {
	margin-bottom: 20px;
	font-size: 26px;
}

.pagecontacts-lic h6 {
	margin-bottom: 10px;
	font-size: 20px;
}

.pagecontacts-lic p {
	line-height: 33px;
}

.pagecontacts-lic img {
	border: 1px solid transparent;
}

.pagecontacts-lic img:hover {
	border: 1px solid #46b2ec;
}

.pagecontacts-lic_img {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.pagecontacts-lic_img a {
	padding: 0 10px;
}

.pagecontacts-lic_img a img {
	width: 100%;
}

.blog__content {
	padding: 50px 0;
}

.blog__content h1 {
	margin-bottom: 30px;
	margin-left: 10px;
	font-size: 30px;
	color: #2a2a2a;
}

.articles_wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.blog__content-item {
	position: relative;
	margin: 0 10px 70px;
	border-bottom: 2px solid #000;
	-webkit-flex-basis: 30%;
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
}

.blog__content-item:hover .blog__content-item-more,
.blog__content-item:hover {
	color: #fff;
	border-bottom-color: #fff;
	opacity: 1;
}

.blog__content-item img {
	width: 100%;
	height: auto;
}

.blog__content-item a {
	color: #1d1d1d;
}

.blog__content-item a:hover {
	color: #2d97c4;
}

.blog__content-item a h2 {
	display: inline-block;
	min-height: 50px;
	margin-top: 35px;
	margin-bottom: 25px;
	font-size: 20px;
	letter-spacing: 1px;
}

.blog__content-item-text {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 22px;
	color: #7a7a7a;
}

.blog__content-item-info {
	position: absolute;
	bottom: 0;
	margin-bottom: 30px;
}

.blog__content-item-info * {
	color: #595959;
}

.blog__content-item-info span {
	display: block;
	margin-bottom: 14px;
}

.blog__content-item-info li {
	float: left;
	padding-left: 22px;
}

.blog__content-item-info li.blog__content-item-info-time {
	background: url("../img/icon-posttime.png") no-repeat;
}

.blog__content-item-info li.blog__content-item-info-comment {
	margin-left: 10px;
	background: url("../img/icon-postcomment.png") no-repeat;
}

.blog__content-item-more {
	position: absolute;
	bottom: -35px;
	left: 0;
	display: block;
	width: 100%;
	padding: 8px 0;
	color: #eff0f4;
	text-align: center;
	background: #17101b;
	opacity: 0;
}

.blog__content-tags {
	padding-bottom: 32px;
	border-bottom: 1px solid #d8d8d8;
}

.blog__content-tags h4 {
	margin-bottom: 20px;
	font: bold 16px MyraidProRegular;
	color: #606060;
}

.blog__content-tags li {
	float: left;
	margin-right: 17px;
	font: 16px MyraidProRegular;
}

.blog__content-tags li a {
	color: #606060;
}

.blog__content-tags li a:hover {
	color: #54a2c2;
	text-decoration: underline;
}

.blog__side-keyarticles {
	padding: 20px;
	margin-bottom: 30px;
	background: #6eb4e8;
}

.blog__side-keyarticles * {
	color: #fff;
}

.blog__side-keyarticles h4 {
	margin-bottom: 15px;
	font-size: 20px;
	text-align: center;
	letter-spacing: 1px;
}

.blog__side-keyarticles li a {
	display: block;
	padding-left: 30px;
	margin: 10px 0;
	line-height: 22px;
	position: relative;
}

.blog__side-keyarticles li a:before {
	content: '';
	width: 10px;
	height: 10px;
	left: 0;
	top: calc(50% - 5px);
	position: absolute;
	border: 1px solid #fff;
}

.blog__side-keyarticles li a:hover {
	text-decoration: underline;
}

.blog__side-keyarticles li a:hover:before {
	background-color: #fff;
}

.blog__side-photos {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.blog__side-photos a img {
	max-width: 260px;
	margin: 10px auto;
}

.blog__side-subscribe {
	padding: 15px 10px 20px;
	margin-top: 30px;
	color: #fff;
	text-align: center;
	background: #e9ae4b;
}

.blog__side-subscribe h4 {
	font-family: OpenSansBold, sans-serif;
	font-size: 19px;
}

.blog__side-subscribe p {
	padding: 22px;
	font-family: OpenSansBold, sans-serif;
	font-size: 26px;
}

.blog__side-subscribe form * {
	color: #4a4a4a;
	background: #fff;
}

.blog__side-subscribe form input {
	width: 100%;
	padding: 5px 13px;
	font-family: OpenSansRegular, sans-serif;
	border: 1px solid #fff;
}

.blog__side-subscribe form input[type="email"]:focus {
	border-color: #b2b2b2;
}

.blog__side-subscribe form input[type="submit"] {
	width: 155px;
	height: 45px;
	margin-top: 25px;
	font-size: 20px;
}

.blog__content-intproject {
	width: 100%;
	text-align: center;
}

.blog__content-intproject * {
	font-weight: 100;
}

.blog__content-intproject h3 {
	font-size: 30px;
	color: #000;
}

.blog__content-intproject p {
	font-size: 22px;
	color: #545454;
}

.blog__content-intproject a {
	display: block;
	width: 215px;
	height: 50px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #35b5eb;
	margin: 40px auto;
}

.blogdetails__img {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 90vh;
	color: #fff;
	text-align: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.blogdetails__img span {
	padding: 5px 15px;
	font-size: 53px;
	font-weight: 900;
	line-height: 96px;
	text-transform: uppercase;
	background-color: #000;
}

.blogdetails__img p {
	margin-top: 30px;
	font-size: 26px;
	line-height: 38px;
}

.blogdetail__breadcrumbs {
	padding: 10px 0;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}

.blogdetail__breadcrumbs a {
	color: #595959;
}

.blogdetail__breadcrumbs a:hover {
	color: #35b5eb;
	text-decoration: underline;
}

.blogdetails__content {
	padding: 50px 0;
	color: #2a2a2a;
}

.blogdetail__content-single h1 {
	font-size: 30px;
}

.blogdetail__content-single_topinfo {
	margin: 15px 0;
	color: rgba(89, 89, 89, 0.8);
}

.blogdetail__content-single_topinfo li {
	display: inline-block;
	padding-right: 20px;
	margin: 10px 0;
	vertical-align: middle;
}

.blogdetail__content-single_topinfo li:nth-child(3) {
	padding-left: 26px;
	background: url(../img/icon-posttime.png) 0 center no-repeat;
}

.blogdetail__content-single_topinfo li:nth-child(4) {
	padding-left: 26px;
	background: url(../img/icon-postcomment.png) 0 center no-repeat;
}

.blogdetail__content-single_topinfo img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.blogdetail__content-single_topinfo span {
	font-weight: bold;
}

.blogdetail__content-single_descr {
	clear: both;
	font-size: 19px;
	line-height: 1.4;
}

.blogdetail__content-single_descr p {
	margin: 10px 0;
}

.blogdetail__content-single_descr h2 {
	margin-top: 30px;
	font-size: 26px;
}

.blogdetail__content-single_botinfo {
	padding: 35px 0;
	overflow: hidden;
}

.blogdetail__content-single_botinfo-social {
	float: left;
}

.blogdetail__content-single_botinfo-social ul li {
	float: left;
}

.blogdetail__content-single_botinfo-rating {
	float: right;
}

.blogdetail__content-single_botinfo-rating span,
.blogdetail__content-single_botinfo-rating ul,
.blogdetail__content-single_botinfo-rating li {
	float: left;
}

.blogdetail__content-single_tag {
	padding: 20px 0;
	margin-bottom: 40px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}

.blogdetail__content-single_tag * {
	color: #606060;
}

.blogdetail__content-single_tag span {
	float: left;
	margin-right: 20px;
	font-weight: bold;
}

.blogdetail__content-single_tag ul {
	overflow: hidden;
}

.blogdetail__content-single_tag ul li {
	float: left;
	margin-right: 17px;
}

.blogdetail__content-single_tag ul li a:hover {
	color: #54a2c2;
	text-decoration: underline;
}

.blogdetail__content-single_similar h3 {
	margin-bottom: 30px;
	margin-left: 10px;
	font-size: 28px;
}

.portfolio__content {
	padding: 50px 0;
}

.portfolio__content h1 {
	margin-bottom: 30px;
	margin-left: 10px;
	font-size: 30px;
	color: #2a2a2a;
}

.pf-text-top {
	margin-left: 10px;
	color: #505050;
	font-size: 18px;
}

.portfolio-items {
	margin-top: 40px;
}

.portfolio-item {
	position: relative;
	max-width: 229px;
	width: 100%;
	margin: 191px 10px 25px;
}

.portfolio-item:before {
	content: '';
	position: absolute;
	bottom: calc(100% + 20px);
	width: 229px;
	height: 171px;
	background: url(http://lorempixel.com/1280/720/) center;
	background-size: cover;
}

.portfolio-item a {
	color: #000000;
}

.portfolio-item a:hover,
.portfolio-item a:focus {
	border-bottom: 1px solid #2d9ac8;
	-webkit-box-decoration-break: clone;
}

.portfolio-item strong {
	text-transform: uppercase;
}

.portfolio-item span {
	display: inline-block;
	margin-top: 5px;
	color: #6c6c6c;
}

.portfolio-item.width1 {
	max-width: 336px;
}

.portfolio-item.width1:before {
	width: 336px;
}

.portfolio-item.width2 {
	max-width: 469px;
	margin-top: 450px;
}

.portfolio-item.width2:before {
	width: 469px;
	height: 430px;
}

.portfolio-item.height2 {
	max-width: 326px;
	margin-top: 450px;
}

.portfolio-item.height2:before {
	width: 326px;
	height: 430px;
}

.portfolio_side button {
	display: block;
	max-width: 180px;
	margin-left: 5px;
	padding-bottom: 5px;
	color: #606060;
	font-family: OpenSansRegular, sans-serif;
	font-size: 15px;
	border-bottom: 1px solid #d8d8d8;
	background-color: transparent;
}

.portfolio_side button:hover {
	border-bottom-color: #e9ae4b;
}

.portfolio_side button.active {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 48px;
	max-width: none;
	margin-top: 5px;
	margin-left: -20px;
	padding-left: 40px;
	background-color: #e9ae4b;
	color: #ffffff;
	border: none;
}

.portfolio_side button.active:before {
	content: '';
	position: absolute;
	top: 20px;
	left: 25px;
	width: 7px;
	height: 7px;
	background-color: #fff;
}

.portfolio_side button + button {
	margin-top: 15px;
}

.pagination {
	margin-top: 25px;
	text-align: center;
}

.pagination .page,
.pagination .prev,
.pagination .next {
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 5px;
	line-height: 26px;
	border: 1px solid rgba(0, 0, 0, 0.49);
	border-radius: 50%;
	vertical-align: middle;
}

.pagination .page {
	font-size: 14px;
	color: #000000;
}

.pagination .page:hover:not(.current):not(.dots) {
	border-color: #35b5eb;
}

.pagination .current,
.pagination .dots {
	cursor: default;
}

.pagination .current {
	background-color: #000000;
	color: #ffffff;
}

.pagination .prev,
.pagination .next {
	color: transparent;
}

.pagination .prev,
.pagination .next {
	background: url(../img/pagination-arr.svg) no-repeat center;
}

.pagination .prev:hover,
.pagination .next:hover {
	background-color: #000000;
	background-image: url(../img/pagination-arr-h.svg);
}

.pagination .next {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.portfolio-center {
	padding: 50px 0;
	color: #ffffff;
	background-color: #35b5eb;
}

.portfolio-center .container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.portfolio-center .container:before,
.portfolio-center .container:after {
	position: absolute;
}

.pf-c-left {
	font-size: 30px;
	text-align: center;
}

.pf-c-left span {
	display: block;
	width: 407px;
	margin-bottom: 14px;
	padding: 5px;
	font-size: 26px;
	background-color: #309ecd;
}

.pf-c-center {
	position: relative;
	font-size: 22px;
	line-height: 16px;
	text-transform: uppercase;
}

.pf-c-right {
	display: block;
	text-align: center;
	line-height: 72px;
	width: 479px;
	height: 72px;
	color: #d49d40;
	font-size: 28px;
	background-color: #ffffff;
	box-shadow: -3.5px 8.3px 19.5px 1.5px rgba(53, 53, 53, 0.21);
}

.pf-about-text {
	padding-top: 50px;
	padding-bottom: 50px;
}

.pf-about-text h2 {
	margin-bottom: 30px;
}

.pf-a-t-top {
	margin-bottom: 35px;
	padding: 10px 0 10px 20px;
	color: #5f5f5f;
	font-size: 18px;
	font-style: italic;
	border-left: 2px solid #6ed4e8;
}

.pf-a-t-bottom {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: #444;
}

.pf-a-t-bottom p {
	-webkit-flex-basis: 49%;
	-ms-flex-preferred-size: 49%;
	flex-basis: 49%;
	font-size: 19px;
}

.pf-a-t-bottom strong {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
}

.pf-reviews {
	padding: 50px 0 40px;
	background: url(../img/pf-reviews-bg.jpg) center;
	background-size: cover;
}

.pf-reviews h2 {
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 3.5px;
}

.pf-reviews-items {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.pf-reviews-item {
	position: relative;
	max-width: 265px;
	margin: 10px 5px;
	padding: 135px 22px 30px;
	color: #dbdbdb;
	background-color: rgba(0, 0, 0, 0.41);
	border: 1px solid rgba(255, 255, 255, 0.41);
	font-size: 16px;
}

.pf-reviews-item:hover {
	background-color: rgba(105, 105, 105, 0.41);
}

.pf-reviews-item:before {
	content: '';
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	margin: auto;
	width: 83px;
	height: 83px;
	background: #ccc url(../img/pf-reviews-ava.svg) no-repeat center;
	border-radius: 50%;
}

.pf-reviews-item p {
	line-height: 1.5;
}

.pf-reviews-item span {
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 14px;
	text-transform: uppercase;
}

.pf-reviews-item a {
	color: #dbdbdb;
	font-size: 14px;
}

.pf-reviews-item a:hover {
	color: #35b5eb;
	text-decoration: underline;
}

.pf-breadcrumbs {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #595959;
	font-size: 12px;
	border-bottom: 1px solid #d8d8d8;
}

.pf-breadcrumbs a,
.pf-breadcrumbs span {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
}

.pf-breadcrumbs a {
	color: #35b5eb;
	text-decoration: underline;
}

.pf-breadcrumbs a:hover {
	text-decoration: none;
}

.pfi {
	padding: 50px 0;
}

.pfi h2 {
	margin-bottom: 30px;
	margin-left: 10px;
	font-size: 30px;
	font-weight: 700;
	color: #2a2a2a;
	text-align: center;
	text-transform: uppercase;
}

.pfi-top-slider-wrap {
	height: 625px;
	background: url(../img/pf/macbook.png) center top no-repeat, linear-gradient(to bottom, #fff 33px, #131314 0, #505258 467px, #fff 0);
}

.pfi-t-s-container {
	position: relative;
	top: 31px;
	max-width: 100%;
	width: 687px;
	height: 433px;
	margin: auto;
}

.pfi-t-s-container img {
	width: 100%;
	height: 100%;
}

.pfi-t-s .lSPager.lSpg {
	margin-top: 115px !important;
}

.pfi-t-s .lSPager.lSpg li {
	border-radius: 50%;
}

.pfi-t-s .lSPager.lSpg li.active a,
.pfi-t-s .lSPager.lSpg li:hover a {
	border: none;
	background-color: #35b5eb;
}

.pfi-t-s .lSPager.lSpg li a {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 1px solid #767676;
	transition: none;
}

.pfi-summary {
	margin-bottom: 50px;
	padding-top: 70px;
	padding-bottom: 70px;
	border: 1px solid #d8d8d8;
	border-left: none;
	border-right: none;
}

.pfi-summary .pfi-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.pfi-wrap {
	max-width: 1010px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.pfi-s-info {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-right: 25px;
	color: #404040;
	font-size: 20px;
}

.pfi-s-info li {
	margin-bottom: 20px;
	padding-left: 40px;
	background: no-repeat left center;
}

.pfi-s-info li:nth-child(1) {
	background-image: url(../img/pf/client.svg);
}

.pfi-s-info li:nth-child(2) {
	background-image: url(../img/pf/link.svg);
}

.pfi-s-info li:nth-child(3) {
	background-image: url(../img/pf/launch.svg);
}

.pfi-s-info a {
	color: #35b5eb;
	text-decoration: underline;
}

.pfi-s-info a:hover {
	text-decoration: none;
}

.pfi-s-text {
	-webkit-flex-basis: 610px;
	-ms-flex-preferred-size: 610px;
	flex-basis: 610px;
	color: #444444;
	font-size: 19px;
	line-height: 1.5;
}

.pfi-screens img {
	max-width: 48%;
	margin-bottom: 20px;
}

.pfi-screens img:nth-child(2n) {
	margin-left: 20px;
}

.task-solution {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #444444;
}

.task-solution .task,
.task-solution .solution {
	-webkit-flex-basis: 50%;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	margin-right: 20px;
}

.task-solution .task h3,
.task-solution .solution h3 {
	padding-left: 45px;
	background: no-repeat left center;
}

.task-solution .task h3 {
	background-image: url(../img/pf/task.svg);
}

.task-solution .solution h3 {
	background-image: url(../img/pf/solution.svg);
}

.task-solution h3 {
	margin-bottom: 25px;
	color: #404040;
	font-size: 28px;
	font-weight: 400;
}

.task-solution p {
	padding-left: 20px;
	font-size: 19px;
	line-height: 1.5;
	border-left: 3px solid #000;
}

.pfi-slider-fw img {
	max-width: 100%;
}

.pfi-slider-fw .lSPager.lSpg {
	margin-top: 40px !important;
}

.pfi-slider-fw .lSPager.lSpg li {
	border-radius: 50%;
}

.pfi-slider-fw .lSPager.lSpg li.active a,
.pfi-slider-fw .lSPager.lSpg li:hover a {
	border: none;
	background-color: #35b5eb;
}

.pfi-slider-fw .lSPager.lSpg li a {
	width: 17px;
	height: 17px;
	background-color: #fff;
	border: 1px solid #767676;
	transition: none;
}

.pfi-text {
	color: #444444;
	font-size: 19px;
	line-height: 1.5;
}

.pfi-text p {
	margin-bottom: 10px;
}

.pfi-slider-hw {
	max-width: 480px;
	width: 100%;
	margin-right: 20px;
	float: left;
}

.pfi-slider-hw img {
	max-width: 100%;
}

.pfi-slider-hw .lSPager.lSpg {
	position: relative;
	top: -40px;
}

.pfi-slider-hw .lSPager.lSpg li.active a,
.pfi-slider-hw .lSPager.lSpg li:hover a {
	background-color: #35b5eb;
}

.pfi-slider-hw .lSPager.lSpg li a {
	width: 17px;
	height: 17px;
	background-color: #fff;
	transition: none;
}

.pfi-collaborators {
	margin-top: 65px;
}

.pfi-collaborators h3 {
	margin-bottom: 30px;
	color: #404040;
	font-size: 28px;
	font-weight: 400;
	text-align: center;
}

.pfi-collaborators table {
	width: 100%;
}

.pfi-collaborators td {
	padding: 24px;
	text-align: center;
	border: 1px solid #bebfbf;
}

.pfi-collaborators p {
	margin-bottom: 5px;
	font-size: 18px;
	color: #43474a;
}

.pfi-collaborators span {
	font-size: 16px;
	color: #8c8c8c;
}

.want-next {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 54px;
	margin-bottom: 54px;
}

.want-next .want,
.want-next .next {
	display: block;
	width: 49%;
	padding: 35px 5px;
	font-size: 26px;
	text-align: center;
	outline: 0;
}

.want-next .want {
	color: #3f3f3f;
	border: 1px solid #bebfbf;
	background: url(../img/pf/want.svg) no-repeat 74% center;
}

.want-next .next {
	color: #ffffff;
	background: #35b5eb url(../img/pf/next.svg) no-repeat 85% center;
}

::-webkit-input-placeholder {
	transition: .5s;
}

::-moz-placeholder {
	transition: .5s;
}

:-ms-input-placeholder {
	transition: .5s;
}

::placeholder {
	transition: .5s;
}

input::-webkit-input-placeholder {
	line-height: 20px;
}

input::-moz-placeholder {
	line-height: 20px;
}

input:-ms-input-placeholder {
	line-height: 20px;
}

input::placeholder {
	line-height: 20px;
}

input:focus::-webkit-input-placeholder {
	line-height: 100px;
}

input:focus::-moz-placeholder {
	line-height: 100px;
}

input:focus:-ms-input-placeholder {
	line-height: 100px;
}

input:focus::placeholder {
	line-height: 100px;
}

textarea::-webkit-input-placeholder {
	opacity: 1;
}

textarea::-moz-placeholder {
	opacity: 1;
}

textarea:-ms-input-placeholder {
	opacity: 1;
}

textarea::placeholder {
	opacity: 1;
}

textarea:focus::-webkit-input-placeholder {
	opacity: 0;
}

textarea:focus::-moz-placeholder {
	opacity: 0;
}

textarea:focus:-ms-input-placeholder {
	opacity: 0;
}

textarea:focus::placeholder {
	opacity: 0;
}

.container:before,
.container:after {
	position: absolute;
}

@media (min-width: 768px) {

.container {
	width: 750px;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-13,
.col-sm-14,
.col-sm-15,
.col-sm-16 {
	float: left;
}

.col-sm-16 {
	width: 100%;
}

.col-sm-15 {
	width: 93.75%;
}

.col-sm-14 {
	width: 87.5%;
}

.col-sm-13 {
	width: 81.25%;
}

.col-sm-12 {
	width: 75%;
}

.col-sm-11 {
	width: 68.75%;
}

.col-sm-10 {
	width: 62.5%;
}

.col-sm-9 {
	width: 56.25%;
}

.col-sm-8 {
	width: 50%;
}

.col-sm-7 {
	width: 43.75%;
}

.col-sm-6 {
	width: 37.5%;
}

.col-sm-5 {
	width: 31.25%;
}

.col-sm-4 {
	width: 25%;
}

.col-sm-3 {
	width: 18.75%;
}

.col-sm-2 {
	width: 12.5%;
}

.col-sm-1 {
	width: 6.25%;
}

.col-sm-pull-16 {
	right: 100%;
}

.col-sm-pull-15 {
	right: 93.75%;
}

.col-sm-pull-14 {
	right: 87.5%;
}

.col-sm-pull-13 {
	right: 81.25%;
}

.col-sm-pull-12 {
	right: 75%;
}

.col-sm-pull-11 {
	right: 68.75%;
}

.col-sm-pull-10 {
	right: 62.5%;
}

.col-sm-pull-9 {
	right: 56.25%;
}

.col-sm-pull-8 {
	right: 50%;
}

.col-sm-pull-7 {
	right: 43.75%;
}

.col-sm-pull-6 {
	right: 37.5%;
}

.col-sm-pull-5 {
	right: 31.25%;
}

.col-sm-pull-4 {
	right: 25%;
}

.col-sm-pull-3 {
	right: 18.75%;
}

.col-sm-pull-2 {
	right: 12.5%;
}

.col-sm-pull-1 {
	right: 6.25%;
}

.col-sm-pull-0 {
	right: auto;
}

.col-sm-push-16 {
	left: 100%;
}

.col-sm-push-15 {
	left: 93.75%;
}

.col-sm-push-14 {
	left: 87.5%;
}

.col-sm-push-13 {
	left: 81.25%;
}

.col-sm-push-12 {
	left: 75%;
}

.col-sm-push-11 {
	left: 68.75%;
}

.col-sm-push-10 {
	left: 62.5%;
}

.col-sm-push-9 {
	left: 56.25%;
}

.col-sm-push-8 {
	left: 50%;
}

.col-sm-push-7 {
	left: 43.75%;
}

.col-sm-push-6 {
	left: 37.5%;
}

.col-sm-push-5 {
	left: 31.25%;
}

.col-sm-push-4 {
	left: 25%;
}

.col-sm-push-3 {
	left: 18.75%;
}

.col-sm-push-2 {
	left: 12.5%;
}

.col-sm-push-1 {
	left: 6.25%;
}

.col-sm-push-0 {
	left: auto;
}

.col-sm-offset-16 {
	margin-left: 100%;
}

.col-sm-offset-15 {
	margin-left: 93.75%;
}

.col-sm-offset-14 {
	margin-left: 87.5%;
}

.col-sm-offset-13 {
	margin-left: 81.25%;
}

.col-sm-offset-12 {
	margin-left: 75%;
}

.col-sm-offset-11 {
	margin-left: 68.75%;
}

.col-sm-offset-10 {
	margin-left: 62.5%;
}

.col-sm-offset-9 {
	margin-left: 56.25%;
}

.col-sm-offset-8 {
	margin-left: 50%;
}

.col-sm-offset-7 {
	margin-left: 43.75%;
}

.col-sm-offset-6 {
	margin-left: 37.5%;
}

.col-sm-offset-5 {
	margin-left: 31.25%;
}

.col-sm-offset-4 {
	margin-left: 25%;
}

.col-sm-offset-3 {
	margin-left: 18.75%;
}

.col-sm-offset-2 {
	margin-left: 12.5%;
}

.col-sm-offset-1 {
	margin-left: 6.25%;
}

.col-sm-offset-0 {
	margin-left: 0%;
}

}

@media (min-width: 768px) and (max-width: 991px) {

.visible-sm {
	display: block !important;
}

table.visible-sm {
	display: table !important;
}

tr.visible-sm {
	display: table-row !important;
}

th.visible-sm,
td.visible-sm {
	display: table-cell !important;
}

.visible-sm-block {
	display: block !important;
}

.visible-sm-inline {
	display: inline !important;
}

.visible-sm-inline-block {
	display: inline-block !important;
}

.hidden-sm {
	display: none !important;
}

}

@media (min-width: 791px) and (max-width: 1030px) {

.want-next .next {
	background-image: none;
}

}

@media (min-width: 992px) {

.container {
	width: 970px;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-13,
.col-md-14,
.col-md-15,
.col-md-16 {
	float: left;
}

.col-md-16 {
	width: 100%;
}

.col-md-15 {
	width: 93.75%;
}

.col-md-14 {
	width: 87.5%;
}

.col-md-13 {
	width: 81.25%;
}

.col-md-12 {
	width: 75%;
}

.col-md-11 {
	width: 68.75%;
}

.col-md-10 {
	width: 62.5%;
}

.col-md-9 {
	width: 56.25%;
}

.col-md-8 {
	width: 50%;
}

.col-md-7 {
	width: 43.75%;
}

.col-md-6 {
	width: 37.5%;
}

.col-md-5 {
	width: 31.25%;
}

.col-md-4 {
	width: 25%;
}

.col-md-3 {
	width: 18.75%;
}

.col-md-2 {
	width: 12.5%;
}

.col-md-1 {
	width: 6.25%;
}

.col-md-pull-16 {
	right: 100%;
}

.col-md-pull-15 {
	right: 93.75%;
}

.col-md-pull-14 {
	right: 87.5%;
}

.col-md-pull-13 {
	right: 81.25%;
}

.col-md-pull-12 {
	right: 75%;
}

.col-md-pull-11 {
	right: 68.75%;
}

.col-md-pull-10 {
	right: 62.5%;
}

.col-md-pull-9 {
	right: 56.25%;
}

.col-md-pull-8 {
	right: 50%;
}

.col-md-pull-7 {
	right: 43.75%;
}

.col-md-pull-6 {
	right: 37.5%;
}

.col-md-pull-5 {
	right: 31.25%;
}

.col-md-pull-4 {
	right: 25%;
}

.col-md-pull-3 {
	right: 18.75%;
}

.col-md-pull-2 {
	right: 12.5%;
}

.col-md-pull-1 {
	right: 6.25%;
}

.col-md-pull-0 {
	right: auto;
}

.col-md-push-16 {
	left: 100%;
}

.col-md-push-15 {
	left: 93.75%;
}

.col-md-push-14 {
	left: 87.5%;
}

.col-md-push-13 {
	left: 81.25%;
}

.col-md-push-12 {
	left: 75%;
}

.col-md-push-11 {
	left: 68.75%;
}

.col-md-push-10 {
	left: 62.5%;
}

.col-md-push-9 {
	left: 56.25%;
}

.col-md-push-8 {
	left: 50%;
}

.col-md-push-7 {
	left: 43.75%;
}

.col-md-push-6 {
	left: 37.5%;
}

.col-md-push-5 {
	left: 31.25%;
}

.col-md-push-4 {
	left: 25%;
}

.col-md-push-3 {
	left: 18.75%;
}

.col-md-push-2 {
	left: 12.5%;
}

.col-md-push-1 {
	left: 6.25%;
}

.col-md-push-0 {
	left: auto;
}

.col-md-offset-16 {
	margin-left: 100%;
}

.col-md-offset-15 {
	margin-left: 93.75%;
}

.col-md-offset-14 {
	margin-left: 87.5%;
}

.col-md-offset-13 {
	margin-left: 81.25%;
}

.col-md-offset-12 {
	margin-left: 75%;
}

.col-md-offset-11 {
	margin-left: 68.75%;
}

.col-md-offset-10 {
	margin-left: 62.5%;
}

.col-md-offset-9 {
	margin-left: 56.25%;
}

.col-md-offset-8 {
	margin-left: 50%;
}

.col-md-offset-7 {
	margin-left: 43.75%;
}

.col-md-offset-6 {
	margin-left: 37.5%;
}

.col-md-offset-5 {
	margin-left: 31.25%;
}

.col-md-offset-4 {
	margin-left: 25%;
}

.col-md-offset-3 {
	margin-left: 18.75%;
}

.col-md-offset-2 {
	margin-left: 12.5%;
}

.col-md-offset-1 {
	margin-left: 6.25%;
}

.col-md-offset-0 {
	margin-left: 0%;
}

}

@media (min-width: 992px) and (max-width: 1199px) {

.visible-md {
	display: block !important;
}

table.visible-md {
	display: table !important;
}

tr.visible-md {
	display: table-row !important;
}

th.visible-md,
td.visible-md {
	display: table-cell !important;
}

.visible-md-block {
	display: block !important;
}

.visible-md-inline {
	display: inline !important;
}

.visible-md-inline-block {
	display: inline-block !important;
}

.hidden-md {
	display: none !important;
}

}

@media (min-width: 1200px) {

.container {
	width: 1170px;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-13,
.col-lg-14,
.col-lg-15,
.col-lg-16 {
	float: left;
}

.col-lg-16 {
	width: 100%;
}

.col-lg-15 {
	width: 93.75%;
}

.col-lg-14 {
	width: 87.5%;
}

.col-lg-13 {
	width: 81.25%;
}

.col-lg-12 {
	width: 75%;
}

.col-lg-11 {
	width: 68.75%;
}

.col-lg-10 {
	width: 62.5%;
}

.col-lg-9 {
	width: 56.25%;
}

.col-lg-8 {
	width: 50%;
}

.col-lg-7 {
	width: 43.75%;
}

.col-lg-6 {
	width: 37.5%;
}

.col-lg-5 {
	width: 31.25%;
}

.col-lg-4 {
	width: 25%;
}

.col-lg-3 {
	width: 18.75%;
}

.col-lg-2 {
	width: 12.5%;
}

.col-lg-1 {
	width: 6.25%;
}

.col-lg-pull-16 {
	right: 100%;
}

.col-lg-pull-15 {
	right: 93.75%;
}

.col-lg-pull-14 {
	right: 87.5%;
}

.col-lg-pull-13 {
	right: 81.25%;
}

.col-lg-pull-12 {
	right: 75%;
}

.col-lg-pull-11 {
	right: 68.75%;
}

.col-lg-pull-10 {
	right: 62.5%;
}

.col-lg-pull-9 {
	right: 56.25%;
}

.col-lg-pull-8 {
	right: 50%;
}

.col-lg-pull-7 {
	right: 43.75%;
}

.col-lg-pull-6 {
	right: 37.5%;
}

.col-lg-pull-5 {
	right: 31.25%;
}

.col-lg-pull-4 {
	right: 25%;
}

.col-lg-pull-3 {
	right: 18.75%;
}

.col-lg-pull-2 {
	right: 12.5%;
}

.col-lg-pull-1 {
	right: 6.25%;
}

.col-lg-pull-0 {
	right: auto;
}

.col-lg-push-16 {
	left: 100%;
}

.col-lg-push-15 {
	left: 93.75%;
}

.col-lg-push-14 {
	left: 87.5%;
}

.col-lg-push-13 {
	left: 81.25%;
}

.col-lg-push-12 {
	left: 75%;
}

.col-lg-push-11 {
	left: 68.75%;
}

.col-lg-push-10 {
	left: 62.5%;
}

.col-lg-push-9 {
	left: 56.25%;
}

.col-lg-push-8 {
	left: 50%;
}

.col-lg-push-7 {
	left: 43.75%;
}

.col-lg-push-6 {
	left: 37.5%;
}

.col-lg-push-5 {
	left: 31.25%;
}

.col-lg-push-4 {
	left: 25%;
}

.col-lg-push-3 {
	left: 18.75%;
}

.col-lg-push-2 {
	left: 12.5%;
}

.col-lg-push-1 {
	left: 6.25%;
}

.col-lg-push-0 {
	left: auto;
}

.col-lg-offset-16 {
	margin-left: 100%;
}

.col-lg-offset-15 {
	margin-left: 93.75%;
}

.col-lg-offset-14 {
	margin-left: 87.5%;
}

.col-lg-offset-13 {
	margin-left: 81.25%;
}

.col-lg-offset-12 {
	margin-left: 75%;
}

.col-lg-offset-11 {
	margin-left: 68.75%;
}

.col-lg-offset-10 {
	margin-left: 62.5%;
}

.col-lg-offset-9 {
	margin-left: 56.25%;
}

.col-lg-offset-8 {
	margin-left: 50%;
}

.col-lg-offset-7 {
	margin-left: 43.75%;
}

.col-lg-offset-6 {
	margin-left: 37.5%;
}

.col-lg-offset-5 {
	margin-left: 31.25%;
}

.col-lg-offset-4 {
	margin-left: 25%;
}

.col-lg-offset-3 {
	margin-left: 18.75%;
}

.col-lg-offset-2 {
	margin-left: 12.5%;
}

.col-lg-offset-1 {
	margin-left: 6.25%;
}

.col-lg-offset-0 {
	margin-left: 0%;
}

.visible-lg {
	display: block !important;
}

table.visible-lg {
	display: table !important;
}

tr.visible-lg {
	display: table-row !important;
}

th.visible-lg,
td.visible-lg {
	display: table-cell !important;
}

.visible-lg-block {
	display: block !important;
}

.visible-lg-inline {
	display: inline !important;
}

.visible-lg-inline-block {
	display: inline-block !important;
}

.hidden-lg {
	display: none !important;
}

.pf-c-center:before,
.pf-c-center:after {
	content: '';
	position: absolute;
	width: 55px;
	height: 28px;
	background-image: url(../img/pf-arr.svg);
}

.pf-c-center:before {
	right: 140%;
	bottom: 100%;
}

.pf-c-center:after {
	top: 100%;
	left: 140%;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

}

@media (max-width: 1400px) {

.main__header-menu {
	margin: 0 1%;
}

}

@media (max-width: 1366px) {

.main__footer {
	padding: 30px 0;
}

}

@media (max-width: 1350px) {

.main__header-logo > * {
	display: block;
}

.main__header-logo span {
	display: none;
}

}

@media (max-width: 1290px) {

.want-next .next {
	background-position-x: 90%;
}

}

@media (max-width: 1240px) {

.want-next .want {
	background-position-x: 79%;
}

}

@media (max-width: 1200px) {

.main__services-wrap {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

}

@media (max-width: 1199px) {

.articles_wrap {
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.blog__content-item {
	-webkit-flex-basis: 47%;
	-ms-flex-preferred-size: 47%;
	flex-basis: 47%;
}

.blog__side-photos a img {
	max-width: 210px;
}

.portfolio-center .container {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 250px;
}

}

@media (max-width: 1160px) {

.main__services {
	background-image: url(../img/bgservices_xs.png);
	background-size: auto;
}

}

@media (max-width: 1140px) {

.want-next .next {
	background-position-x: 95%;
}

}

@media (max-width: 1120px) {

.main__header-request {
	display: none;
}

}

@media (max-width: 1060px) {

.want-next .want {
	background-position-x: 85%;
}

}

@media (max-width: 1024px) {

header.main__header {
	text-align: inherit;
}

.main__header-logo {
	margin: 5px 0;
}

.main__header-logo > * {
	display: inline-block;
}

.main__header-logo span {
	display: inline-block;
}

.main__header-menu {
	display: none;
}

.main__header-tele {
	display: none;
}

.main__header-xs-menu {
	position: absolute;
	right: 0;
	display: inline-block;
	padding: 30px;
}

.main__header-xs-menu span {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 5px;
	background: #000;
}

.main__header-xs-menu span:after,
.main__header-xs-menu span:before {
	position: absolute;
	width: 30px;
	height: 5px;
	content: "";
	background: #000;
}

.main__header-xs-menu span:before {
	top: -10px;
}

.main__header-xs-menu span:after {
	top: 10px;
}

}

@media (max-width: 1000px) {

.main__footer-leftmenu {
	display: none;
}

.main__footer-copyright {
	margin-top: 0;
}

.main__footer-rightmenu {
	display: none;
}

}

@media (max-width: 991px) {

.main__content-calc {
	margin: 50px auto;
}

.pagecontacts-contenttop-left h4,
.pagecontacts-contenttop-left h5,
.pagecontacts-contenttop-left .pagecontacts-contenttop-left-social {
	text-align: center;
}

.pagecontacts-contenttop-left_table {
	margin-right: -15px;
	margin-left: -15px;
}

.pagecontacts-contentcenter img {
	display: block;
	max-width: 500px;
	margin: 15px auto 0;
}

.pagecontacts-gallery img {
	width: 40%;
	padding-right: 0;
	padding-left: 0;
}

.blog__side-photos {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.blog__side-photos a img {
	max-width: 300px;
}

.portfolio__content .row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.portfolio_wrap {
	padding: 0;
}

.portfolio_wrap p {
	display: none;
}

.portfolio-items {
	margin-top: 0;
}

.portfolio_side {
	margin-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
}

.portfolio_side button {
	max-width: none;
	width: 100%;
	margin-left: 0;
	text-align: left;
	padding-left: 20px;
}

.portfolio_side button.active {
	margin-left: 0;
	padding-left: 20px;
}

.portfolio_side button.active:before {
	left: 7px;
}

.pf-a-t-bottom {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.pf-a-t-bottom p + p {
	margin-top: 30px;
}

}

@media only screen and (max-width: 991px) {

.pagecontacts-contenttop-right {
	max-width: 600px;
	padding: 0 15px;
	margin: 20px auto 0;
	text-align: center;
}

.pagecontacts-rekviziti {
	margin-bottom: 20px;
	text-align: center;
}

}

@media (max-width: 960px) {

#destacados-reel li {
	max-width: 800px;
}

.no-touch #destacados-reel .slider {
	float: left;
	width: 3280px;
}

.no-touch #dest-bts {
	max-width: 800px;
}

}

@media (max-width: 890px) {

.want-next .want {
	background-position-x: 90%;
}

}

@media (max-width: 800px) {

.destacados-1 .dest-right,
.destacados-2 .dest-right,
.destacados-3 .dest-right {
	display: none;
}

.destacados-1 .dest-left,
.destacados-2 .dest-left,
.destacados-3 .dest-left {
	width: 100%;
	margin: 0;
}

#destacados-reel li {
	max-width: 580px;
}

#dest-bts {
	width: 100%;
	max-width: 580px;
	padding-top: 30px;
}

.no-touch #destacados-reel .slider {
	float: left;
	width: 3600px;
}

.no-touch #dest-bts {
	max-width: 580px;
}

.blogdetails__img span {
	font-size: 40px;
	line-height: 60px;
}

}

@media (max-width: 790px) {

.want-next {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.want-next .want,
.want-next .next {
	width: 100%;
}

.want-next .want {
	border-right: none;
	margin-bottom: 20px;
}

.want-next .want {
	background-position-x: 75%;
}

.want-next .next {
	background-position-x: 85%;
}

}

@media (max-width: 768px) {

.portfolio_side {
	padding: 0;
}

.pfi-summary .pfi-wrap {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.pfi-summary .pfi-wrap .pfi-s-info {
	margin-right: 0;
}

.pfi-summary .pfi-wrap .pfi-s-text {
	-webkit-flex-basis: auto;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}

.task-solution {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.task-solution .task {
	margin-bottom: 40px;
}

.pfi-slider-hw {
	margin: 0 auto;
	float: none;
}

}

@media (max-width: 767px) {

.visible-xs {
	display: block !important;
}

table.visible-xs {
	display: table !important;
}

tr.visible-xs {
	display: table-row !important;
}

th.visible-xs,
td.visible-xs {
	display: table-cell !important;
}

.visible-xs-block {
	display: block !important;
}

.visible-xs-inline {
	display: inline !important;
}

.visible-xs-inline-block {
	display: inline-block !important;
}

.hidden-xs {
	display: none !important;
}

.pagecontacts-maps-map {
	height: 300px;
}

.pagecontacts-lic_img {
	max-width: 500px;
	margin: 0 auto;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.pagecontacts-lic_img img {
	margin: 5px 0;
}

.blog__side-keyarticles {
	margin-left: -15px;
	margin-right: -15px;
}

.blog__side-subscribe {
	margin-left: -15px;
	margin-right: -15px;
}

.blogdetail__content-single h1 {
	text-align: center;
}

}

@media (max-width: 715px) {

.articles_wrap {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.blog__content-item {
	-webkit-flex-basis: 70%;
	-ms-flex-preferred-size: 70%;
	flex-basis: 70%;
}

}

@media (max-width: 700px) {

.main__bgvideo-descr span {
	font-size: 45px;
}

}

@media (max-width: 650px) {

.main__bgvideo-descr span {
	font-size: 40px;
}

}

@media (max-width: 640px) and (orientation: landscape) {

#destacados-reel-wrap {
	display: none;
}

#destacados-reel-mob-wrap {
	display: block;
}

#destacados-reel-mob-wrap {
	display: block;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

#destacados-reel-mob .dest-1,
#destacados-reel-mob .dest-2,
#destacados-reel-mob .dest-3,
#destacados-reel-mob .dest-4,
#destacados-reel-mob .dest-5,
#destacados-reel-mob .dest-6,
#destacados-reel-mob .dest-7,
#destacados-reel-mob .dest-8,
#destacados-reel-mob .dest-9,
#destacados-reel-mob .dest-10,
#destacados-reel-mob .dest-11,
#destacados-reel-mob .dest-12 {
	position: relative;
	float: left;
	width: 100%;
	max-width: 266px;
	height: 157px;
	padding: 0;
	margin: 0 10px;
}

#destacados-reel-mob .dest-1 .dest-img img {
	width: 140%;
}

#destacados-reel-mob .dest-7 .dest-img img {
	width: 190%;
}

#destacados-reel-mob {
	position: relative;
	display: block;
	height: 157px;
	padding: 0;
	margin: 0 auto;
	overflow: visible;
}

.dest-caption {
	width: 75%;
}

.dest-caption h3 {
	font-size: 1.333em;
}

.dest-caption p {
	font-size: 1.167em;
}

.dest-img img {
	width: 105%;
}

#dest-bts {
	max-width: 266px;
	padding-top: 20px;
	margin-bottom: 1em;
}

#scroller-wrapper {
	display: none;
}

}

@media (max-width: 640px) {

#destacados-reel li {
	max-width: 540px;
}

.no-touch #destacados-reel .slider {
	float: left;
	width: 3360px;
}

.no-touch #dest-bts {
	max-width: 540px;
}

.want-next .next {
	background-position-x: 95%;
}

}

@media (max-width: 620px) {

.want-next .want {
	background-position-x: 80%;
}

}

@media (max-width: 600px) {

.main__bgvideo-descr span {
	font-size: 38px;
	line-height: 2;
}

.portfolio-item {
	max-width: 100% !important;
	width: auto;
	margin-top: 220px;
}

.portfolio-item:before {
	width: 100% !important;
}

.portfolio-item.width2 {
	margin-top: 480px;
}

.portfolio-item.height2 {
	margin-top: 480px;
}

}

@media (max-width: 560px) {

.main__bgvideo-descr span {
	font-size: 35px;
}

}

@media (max-width: 555px) {

.blogdetail__content-single_topinfo {
	max-width: 370px;
}

}

@media (max-width: 550px) {

#destacados-reel-wrap {
	display: none;
}

#destacados-reel-mob-wrap {
	display: block;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

#destacados-reel-mob .dest-1,
#destacados-reel-mob .dest-2,
#destacados-reel-mob .dest-3,
#destacados-reel-mob .dest-4,
#destacados-reel-mob .dest-5,
#destacados-reel-mob .dest-6,
#destacados-reel-mob .dest-7,
#destacados-reel-mob .dest-8,
#destacados-reel-mob .dest-9,
#destacados-reel-mob .dest-10,
#destacados-reel-mob .dest-11,
#destacados-reel-mob .dest-12 {
	position: relative;
	float: left;
	width: 100%;
	max-width: 266px;
	height: 157px;
	padding: 0;
	margin: 0 10px;
}

#destacados-reel-mob .dest-1 .dest-img img {
	width: 150%;
	height: auto;
}

#destacados-reel-mob .dest-4 .dest-img img {
	width: 105%;
	height: auto;
}

#destacados-reel-mob .dest-7 .dest-img img {
	width: 190%;
}

#destacados-reel-mob .dest-img img {
	top: 0;
}

#destacados-reel-mob {
	position: relative;
	display: block;
	height: 157px;
	padding: 0;
	margin: 0 auto;
	overflow: visible;
}

#destacados-reel {
	display: none;
}

.dest-caption {
	width: 75%;
}

.dest-caption span {
	font-size: 1.333em;
}

.dest-caption h4 {
	font-size: 1.167em;
}

.dest-img img {
	width: 105%;
}

#dest-bts,
.no-touch #dest-bts {
	max-width: 266px;
	padding-top: 20px;
	margin-bottom: 1em;
}

#scroller-wrapper {
	display: none;
}

.pagecontacts-contenttop h1 {
	text-align: center;
}

.pagecontacts-gallery img {
	width: 70%;
}

.pfi-screens img {
	display: block;
	max-width: 100%;
	margin: 0 auto 20px;
}

.pfi-screens img:nth-child(2n) {
	margin-left: auto;
}

.pfi-slider-fw .lSPager.lSpg {
	margin-top: 5px !important;
}

.pfi-slider-fw .lSPager.lSpg li a {
	width: 10px;
	height: 10px;
}

.pfi-slider-hw .lSPager.lSpg li a {
	width: 10px;
	height: 10px;
}

}

@media (max-width: 520px) {

.main__bgvideo-descr span {
	font-size: 33px;
	line-height: 2.2;
}

.want-next .want {
	background-position-x: 90%;
}

.want-next .next {
	background-image: none;
}

}

@media (max-width: 500px) {

.pagecontacts-contenttop-left_table {
	padding-right: 9px;
	padding-left: 9px;
	font-size: 14px;
	line-height: 1.6;
}

.blog__content-item {
	-webkit-flex-basis: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	margin-left: 0;
	margin-right: 0;
}

}

@media (max-width: 490px) {

.main__bgvideo-descr span {
	font-size: 30px;
	line-height: 2.4;
}

}

@media (max-width: 480px) {

.blogdetails__img p {
	font-size: 20px;
	line-height: 28px;
}

}

@media (max-width: 460px) {

.main__bgvideo-descr span {
	font-size: 25px;
}

}

@media (max-width: 450px) {

.main__footer {
	padding: 15px 0;
}

.main__footer-copyright {
	display: none;
}

.pagecontacts-gallery img {
	width: 90%;
}

.pagecontacts-lic_img {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.blogdetail__content-single_topinfo li:nth-child(1) {
	display: none;
}

}

@media (max-width: 410px) {

.want-next .want {
	background-position-x: 95%;
}

}

@media (max-width: 400px) {

.main__header-logo span {
	font-size: 22px;
}

.blog__side-photos a img {
	max-width: 100%;
}

}

@media (max-width: 390px) {

.main__bgvideo-descr span {
	font-size: 22px;
	line-height: 2.6;
}

.want-next .want,
.want-next .next {
	font-size: 21px;
}

}

@media (max-width: 380px) {

.main__header-logo span {
	font-size: 18px;
}

}

@media (max-width: 350px) {

.main__bgvideo-descr span {
	font-size: 19px;
}

}

@media (max-width: 340px) {

.main__header-logo span {
	font-size: 16px;
}

}

@media (max-width: 335px) {

.pagecontacts-contenttop-left_table .mt20 {
	margin-top: 23px;
}

}

@media (max-width: 300px) {

#dest-bts {
	max-width: 220px;
}

}

@media print {

.visible-print {
	display: block !important;
}

table.visible-print {
	display: table !important;
}

tr.visible-print {
	display: table-row !important;
}

th.visible-print,
td.visible-print {
	display: table-cell !important;
}

.visible-print-block {
	display: block !important;
}

.visible-print-inline {
	display: inline !important;
}

.visible-print-inline-block {
	display: inline-block !important;
}

.hidden-print {
	display: none !important;
}

}

