{% extends 'blog/blog_sidebar.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
  <section class="blog__content">
    <div class="container">
      <h1>Блог о жизни веб-студии, маркетинге, дизайне и технологиях</h1>
      <div class="row">
        <article class="articles_wrap col-md-12">
          {% for article in articles %}
            <div class="blog__content-item">
              <a href="{% url 'blog_article_item' article.slug %}">
                {% thumbnail article.logo "265x180" crop="center" as im %}
                  <img src="{{ im.url }}" alt="{{ article.title }}" title="{{ article.title }}">
                {% endthumbnail %}
              </a>
              <a href="{% url 'blog_article_item' article.slug %}"><h2>{{ article.title }}</h2></a>
              <div class="blog__content-item-text">
                {{ article.shortText }}
              </div>
              {#<div class="blog__content-item-info"> #}
              {#  {% if article.author.firstname %} #}
              {#    <span>{{ article.author.firstname }} {{ article.author.lastname }}</span>#}
              {#  {% else %} #}
              {#      <span>{{ article.author.nickname }}</span> #}
              {#  {% endif %}#}
              {#  <ul>#}
              {#    <li class="blog__content-item-info-time">{{ article.date }}</li>#}
              {#    <li class="blog__content-item-info-comment">#}
              {#      <a href="#">2</a>#}
              {#    </li>#}
              {#  </ul>#}
              {#</div>#}
              <a class="blog__content-item-more" href="{% url 'blog_article_item' article.slug %}">Прочитать полностью</a>
            </div>
          {% endfor %}
          {#          <div class="blog__content-tags col-md-16">#}
          {#            <h4>Теги:</h4>#}
          {#            <ul>#}
          {#              <li><a href="#">Pithon</a></li>#}
          {#              <li><a href="#">Back-end</a></li>#}
          {#              <li><a href="#">Заказчику</a></li>#}
          {#              <li><a href="#">События</a></li>#}
          {#              <li><a href="#">Дизайн</a></li>#}
          {#              <li><a href="#">Технологии</a></li>#}
          {#              <li><a href="#">Переводы</a></li>#}
          {#              <li><a href="#">Важное</a></li>#}
          {#              <li><a href="#">Менеджмент</a></li>#}
          {#              <li><a href="#">Отдых</a></li>#}
          {#              <li><a href="#">Прототипирование</a></li>#}
          {#              <li><a href="#">Верстка</a></li>#}
          {#              <li><a href="#">Маркетинг</a></li>#}
          {#            </ul>#}
          {#          </div>#}
          {#        TODO добавить теги на главную блога#}
          {% include 'blog/components/interest-project-form.html' %}
        </article>
        {% block sidebar %}
          {{ block.super }}
        {% endblock %}
      </div>

    </div>
  </section>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% include 'blog/components/instafeed.html' %}
{% endblock %}