{% extends 'blog/blog_sidebar.html' %}
{% load static %}
{% load thumbnail %}


{% block content %}
  <section class="blogdetails__img" style="
          {% if article.background %}
            background: linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url({{ article.background.url }}) center/cover;
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url({{ article.background.url }}) center/cover;
            background: -o-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url({{ article.background.url }}) center/cover;
            background: -ms-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url({{ article.background.url }}) center/cover;
            background: -moz-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url({{ article.background.url }}) center/cover
          {% else %}
            background: linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url({{ article.logo.url }}) center/cover;
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url({{ article.logo.url }}) center/cover;
            background: -o-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url({{ article.logo.url }}) center/cover;
            background: -ms-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url({{ article.logo.url }}) center/cover;
            background: -moz-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url({{ article.logo.url }}) center/cover
          {% endif %}
          ">
    {# todo удалить когда-нибудь это условие #}
    <div class="container">
      <span>{{ article.title }}</span>

      <p>{{ article.shortText }}</p>
    </div>
  </section>

  <section class="blogdetail__breadcrumbs">
    <div class="container">
      <a href="/">Главная</a>&emsp;>&emsp;
      {% block breadcrumbs %}
        {{ block.super }}&emsp;>&emsp;<a href="{% url 'blog_article_item' article.slug %}">{{ article.title }}</a>
      {% endblock %}
    </div>
  </section>

  <section class="blogdetails__content">

    <div class="container">
      <div class="row">
        <article class="col-md-12">

          <div class="blogdetail__content-single">
            <h1>{{ article.title }}</h1>
            <ul class="blogdetail__content-single_topinfo">
              <li>
                <img src="{{ article.author.avatar.url }}" alt="{{ article.author.nickname }}" title="{{ article.author.nickname }}"/>
              </li>
              <li>автор:
                {% if article.author.firstname %}
                  <span>{{ article.author.firstname }} {{ article.author.lastname }}</span>
                {% else %}
                  <span>{{ article.author.nickname }}</span>
                {% endif %}
              </li>
              <li>{{ article.date }}</li>
              <li>{{ comments.count }}</li>
            </ul>
            <div class="blogdetail__content-single_descr">
              {% autoescape off %}
                {{ article.text }}
              {% endautoescape %}
            </div>
          </div>

          {#          <div class="blogdetail__content-single_botinfo">#}
          {#            <div class="blogdetail__content-single_botinfo-social">#}
          {#              <ul>#}
          {#                <li>social1</li>#}
          {#                <li>social2</li>#}
          {#                <li>social3</li>#}
          {#                <li>social4</li>#}
          {#              </ul>#}
          {#            </div>#}
          {#            <div class="blogdetail__content-single_botinfo-rating">#}
          {#              <span>Общая оценка:</span>#}
          {#              <ul>#}
          {#                <li>1</li>#}
          {#                <li>2</li>#}
          {#                <li>3</li>#}
          {#                <li>4</li>#}
          {#                <li>5</li>#}
          {#              </ul>#}
          {#            </div>#}
          {#          </div>#}

          <div class="blogdetail__content-single_tag">
            <span>Теги статьи:</span>
            <ul>
              {% for tag in tags %}
                <li><a href="{% url 'blog_tag' tag.slug %}">{{ tag.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

          {#          <div class="blogdetail__content-single_comments">#}
          {#            <h4>Комментарии:</h4>#}
          {#            <ul>#}
          {#              {% for comment in comments %}#}
          {#                <li>#}
          {#                  <p class="blogdetail__commentdate">{{ comment.date }}</p>#}
          {#                  <p class="blogdetail__commentauthor">{{ comment.nickname }}</p>#}
          {#                  <p class="blogdetail__commenttext">{{ comment.text }}</p>#}
          {#                  <a href="">ответить</a>#}
          {#                  <a href="">комментировать</a>#}
          {#                </li>#}
          {#              {% endfor %}#}
          {#            </ul>#}
          {#            <div class="blogdetail__content-single_commentsadd container">#}
          {#              <form action="">#}
          {#                <div class="row">#}
          {#                  <div class="col-md-8">#}
          {#                    <input type="text" placeholder="Представьтесь, пожалуйста"/>#}
          {#                  </div>#}
          {#                  <div class="col-md-8">#}
          {#                    <input type="text" placeholder="Ваш e-mail"/>#}
          {#                  </div>#}
          {#                  <div class="col-md-16">#}
          {#                    <textarea name="" placeholder="текст сообщения"></textarea>#}
          {#                  </div>#}
          {#                  <div class="col-md-4">#}
          {#                    <button>комментировать</button>#}
          {#                  </div>#}
          {#                </div>#}
          {#              </form>#}
          {#            </div>#}
          {#          </div>#}

          <div class="blogdetail__content-single_similar">
            <h3>Вам может быть интересно</h3>
            <section class="articles_wrap">
              {% for article in articlefortag %}
                <div class="blog__content-item">
                  <a href="{% url 'blog_article_item' article.slug %}">
                    {% thumbnail article.logo "265x180" crop="center" as im %}
                      <img src="{{ im.url }}" alt="{{ article.title }}" title="{{ article.title }}">
                    {% endthumbnail %}
                  </a>
                  <a href="{% url 'blog_article_item' article.slug %}"><h2>{{ article.title }}</h2></a>
                  <div class="blog__content-item-text">
                    {{ article.shortText }}
                  </div>
                  {#<div class="blog__content-item-info"> #}
                  {#  {% if article.author.firstname %} #}
                  {#    <span>{{ article.author.firstname }} {{ article.author.lastname }}</span>#}
                  {#  {% else %} #}
                  {#      <span>{{ article.author.nickname }}</span> #}
                  {#  {% endif %}#}
                  {#  <ul>#}
                  {#    <li class="blog__content-item-info-time">{{ article.date }}</li>#}
                  {#    <li class="blog__content-item-info-comment">#}
                  {#      <a href="#">2</a>#}
                  {#    </li>#}
                  {#  </ul>#}
                  {#</div>#}
                  <a class="blog__content-item-more" href="{% url 'blog_article_item' article.slug %}">прочитать полностью</a>
                </div>
              {% endfor %}
            </section>
          </div>

          {% include 'blog/components/interest-project-form.html' %}

        </article>
        {% block sidebar %}
          {{ block.super }}
        {% endblock %}
      </div>
    </div>

  </section>

{% endblock %}

{% block scripts %}
  {% include 'blog/components/instafeed.html' %}
{% endblock %}