{% extends 'blog/blog_breadcrumbs.html' %}
{% block sidebar %}
  <aside class="col-md-4">
    <div class="blog__side-keyarticles">
      <h4>Ключевые статьи</h4>
      <ul>
        {% for article in articles %}
          {% if article.keyArticle %}
            <li>
              <a href="{% url 'blog_article_item' article.slug %}">{{ article.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="blog__side-photos" id="instafeed"></div>

    <div class="blog__side-subscribe" id="subscribe-form">
      <h4>Будь в курсе событий</h4>
      <p>Подпишись на рассылку</p>
      <form id="subscribe">
        <input id="subs_email" type="email" placeholder="Введите email" required>
        <input type="submit" value="Подписаться">
      </form>
    </div>
  </aside>

  <script>
    function subscribe_ajax (email) {
      $('#subscribe-form').load(
              '{% url "blog_subscribe" %}',
              {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                email: email
              },
              function(){
                $('#subscribe-ajax').fadeIn();
              }
      );
    }
  </script>
{% endblock %}