{% extends 'blog/blog_sidebar.html' %}
{% load thumbnail %}
{% block title %}{{ tagtitle.title }}{% endblock %}

{% block desc_key %}
{% endblock %}

{% block content %}
  <section class="blog__content">
    <div class="container">
      <h1>Блог о жизни веб-студии, маркетинге, дизайне, технологиях</h1>
      <div class="row">
        <article class="articles_wrap col-md-12">
          {% for article in tagarticles %}
            <div class="blog__content-item">
              <a href="{% url 'blog_article_item' article.slug %}">
                {% thumbnail article.logo "265x180" crop="center" as im %}
                  <img src="{{ im.url }}" alt="{{ article.title }}" title="{{ article.title }}">
                {% endthumbnail %}
              </a>
              <a href="{% url 'blog_article_item' article.slug %}"><h2>{{ article.title }}</h2></a>
              <div class="blog__content-item-text">
                {{ article.shortText }}
              </div>
              {#              <div class="blog__content-item-info">#}
              {#                {% if article.author.firstname %}#}
              {#                  <span>{{ article.author.firstname }} {{ article.author.lastname }}</span>#}
              {#                {% else %}#}
              {#                  <span>{{ article.author.nickname }}</span>#}
              {#                {% endif %}#}
              {#                <ul>#}
              {#                  <li class="blog__content-item-info-time">{{ article.date }}</li>#}
              {#                  <li class="blog__content-item-info-comment">#}
              {#                    <a href="#">2</a>#}
              {#                  </li>#}
              {#                </ul>#}
              {#              </div>#}
              <a class="blog__content-item-more" href="{% url 'blog_article_item' article.slug %}">Прочитать полностью</a>
            </div>
          {% endfor %}
          {% include 'blog/components/interest-project-form.html' %}
        </article>
        {% block sidebar %}
          {{ block.super }}
        {% endblock %}
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  {% include 'blog/components/instafeed.html' %}
{% endblock %}