{% load static %}
<noindex>
<script src="{% static 'lib/instafeed.min.js' %}"></script>
{% verbatim %}
<script>
  $(document).ready(function(){
    var feed = new Instafeed({
      get: "user",
      userId: 1757835318,
      resolution: "standard_resolution",
      limit: 3,
      template: "<a href='{{link}}' target='_blank' rel='nofollow'><img src='{{image}}' /></a>",
      accessToken: "1757835318.b2c90ce.152f8107f56f4d2ea23b3e9ad91186f0",
      clientId: "b2c90ce9a7ac4a62888782edb5608c0d"
    });
    feed.run();
  });
</script>
</noindex>
{% endverbatim %}