<div class="blog__content-intproject">
  <h3>У вас есть интересный проект или идея?</h3>
  <p>Опишите её заполнив форму и мы найдем что вам предложить!</p>
  <a class="bh-button modal_btn" href="#form_header_wrap">Оставить заявку</a>
</div>