{% spaceless %}
{% load static %}
<!doctype html>
<html lang="ru-ru">
<head>
  <meta charset="UTF-8">
  {% block title %}
    <title>{% if page.meta_title|length > 0 %} {{ page.meta_title|safe }} {% else %} {{ page.title }} {% endif %}</title>
  {% endblock %}

  {% if page.meta_keywords|length > 0 %} <meta name="keywords" content="{{ page.meta_keywords }}"> {% endif %}
  {% if page.meta_description|length > 0 %} <meta name="description" content="{{ page.meta_description }}"> {% endif %}
  {{ page.meta_tags|safe }}
  {{ page_base.meta_tags|safe }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://plus.google.com/114683126170145058327" rel="publisher">
  <link rel="shortcut icon" href={% static 'img/favicon.ico' %}>
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  {% block scripts_head %}
  {% endblock %}
  <style>
    .dest-img:after{
      background-image: linear-gradient(bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 50%);
      background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 50%);
      background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 50%);
      background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 50%);
      background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 50%);
    }
  </style>

</head>
<body>

<div id="sb-site">
  <header class="main__header"  itemscope itemtype="http://schema.org/WPHeader">
    <div class="header-wrap">
      <a class="main__header-logo" href="/">
        <img src="{% static 'img/logo.svg' %}" alt="создание сайтов. Веб-студия &laquo;BYTEHOUSE&raquo;">
        <p itemprop="description">веб-студия<br>
          <span itemprop="name">BYTEHOUSE</span>
        </p>
      </a>

      <nav class="main__header-menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <ul>
          {% for menu in menus %}
            {% if menu.on_menu == True %}
              <li><a itemprop="url" href={% if menu.on == True %} "/#{{ menu.slug }} {% else %} {% url 'pages' menu.slug %} {% endif %}">
                {{ menu.title|upper }}
              </a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>

      <div class="main__header-tele">
        <a href="tel:+78722919564">+7(8722) 919-564</a>
        <a href="tel:+79882919564">+7(988)291-95-64</a>
      </div>

      <a class="main__header-xs-menu sb-toggle-right" href="#"><span></span></a>


      <div class="main__header-request">
        <a class="bh-button modal_btn" href="#form_header_wrap">Оставить заявку</a>
        <span class="tooltip">Мы вам перезвоним</span>
        <div id="form_header_wrap">
          {% include 'form.html' with formID="form_header" %}
        </div>
      </div>
    </div>

  </header>





  {% block content %}

  {% endblock %}





  <footer class="main__footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="main__footer-leftmenu">
            <ul>
              {% for menu in menus %}
                <li><a href="{% if menu.on == True %} /#{{ menu.slug }} {% else %} {% url 'pages' menu.slug %} {% endif %}">
                  {{ menu.title|upper }}
                </a></li>
              {% endfor %}
            </ul>
            <a class="modal_btn" href="#form_header_wrap">Оставить заявку</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="main__footer-copyright">
            &copy; Веб-студия Bytehouse 2014-2015
            <br/>
            Электронная почта: <a href="mailto:hello@bytehouse.ru">hello@bytehouse.ru</a>
            <br/>
            г. Махачкала, пр. Гамидова 18 д, 4 этаж
            <br/>
            Телефон: <a href="tel:+78722919564">+7 (8722) 919-564</a>
          </div>
          <div class="main__footer-social">
            <a href="https://vk.com/bytehouse" target="_blank" rel="nofollow"></a>
            <a href="https://twitter.com/byte_house" target="_blank" rel="nofollow"></a>
            <a href="https://instagram.com/bytehouse" target="_blank" rel="nofollow"></a>
            <a href="https://plus.google.com/114683126170145058327/about" target="_blank" rel="nofollow"></a>
          </div>
        </div>
        <div class="col-md-5">
          <ul class="main__footer-rightmenu">
            <li><a>Поиск и карта сайта</a></li>
            <li><a href="{% url 'pages' 'contacts' %}#schema">Схема проезда</a></li>
            {% for static_menu in static_menus %}
              <li><a {% if static_menu.on == False %}  href="{% url 'main-static_pages' static_menu.url %}" {% endif %}>{{ static_menu.title }}</a></li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
  </footer>

</div>


<div class="sb-slidebar sb-right">
  <ul class="xsmenu_right">
    {% for menu in menus %}
      <li><a href={% if menu.on == True %} "/#{{ menu.slug }} {% else %} {% url 'pages' menu.slug %} {% endif %}">
        {{ menu.title|upper }}
      </a></li>
    {% endfor %}
  </ul>
  <a href="tel:+78722919564">+7 (8722) 919-564</a>
  <a class="bh-button modal_btn" href="#xs_form">Оставить заявку</a>
  {% include 'form.html' with formID="xs_form" %}
</div>

<script src="{% static 'lib/modernizr.js' %}"></script>
<script src="{% static 'lib/jquery.iosslider.min.js' %}"></script>
<script src="{% static 'lib/sidebars/slidebars.min.js' %}"></script>
<script src="{% static 'lib/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'lib/magnific popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/isotope/packery-mode.pkgd.min.js' %}"></script>

{% block scripts %}
{% endblock %}
<script src="{% static 'js/script.min.js' %}"></script>
{{ page.scripts|safe }}
{{ page_base.scripts|safe }}
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-61360911-1', 'auto');ga('send', 'pageview');</script>
<!-- Yandex.Metrika counter -->
<script>(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter29389300 = new Ya.Metrika({id:29389300, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script>
<!-- /Yandex.Metrika counter -->
<script>var _top100q = _top100q || [];_top100q.push(['setAccount', '3109493']);_top100q.push(['trackPageviewByLogo', document.getElementById('Rambler-counter')]);(function(){var pa = document.createElement("script");pa.type = "text/javascript";pa.async = true;pa.src = ("https:" == document.location.protocol ? "https:" : "http:") + "//st.top100.ru/top100/top100.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(pa, s);})();</script>
<script>var _tmr = _tmr || [];_tmr.push({id: "2655617", type: "pageView", start: (new Date()).getTime()});(function (d, w) {var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }})(document, window);</script>
<!--LiveInternet counter-->
<script>new Image().src = "//counter.yadro.ru/hit?r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";"+Math.random();</script>
<!--/LiveInternet-->

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'HzuOsXPw6b';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
</body>
</html>
{% endspaceless %}