{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container pagecontacts-contenttop">

{{ page.content|safe }}
  <div class="col-md-7 col-md-offset-1 pagecontacts-contenttop-right">
    <h4>Форма обратной связи</h4>

    <p>Вы можете задать интересующие вопросы через сайт, заполнив форму обратной связи. Как только менеджеры обработают письмо, с вами свяжется наш специалист.</p>

    {% include 'form.html' with formID='contacts_form'%}

  </div>

</div>

{{ page.post_content|safe }}

{#<div class="container pagecontacts-lic">#}
{#  <div class="row">#}
{#    <h4>Лицензии и сертификаты:</h4>#}
{##}
{#    <div class="col-md-4 pagecontacts-rekviziti">#}
{#      <h5>Реквизиты:</h5>#}
{#      <h6>ИП Арабов Ш. А.</h6>#}
{#      <p>ИНН: 056008103988 <br/>#}
{#        ОГРНИП: 313057327300012 <br/>#}
{#        Р/с: 40802810600000007797 <br/>#}
{#        в ОАО АКБ “ЭЛЬБИН” <br/>#}
{#        БИК: 048209755 <br/>#}
{#        К/с: 30101810200000000755#}
{#      </p>#}
{#    </div>#}
{#    <div class="pagecontacts-lic_img">#}
{#      <a>#}
{#        <img src="http://placehold.it/192x271" alt="" title="">#}
{#      </a>#}
{#      <a>#}
{#        <img src="http://placehold.it/192x271" alt="" title="">#}
{#      </a>#}
{#      <a>#}
{#        <img src="http://placehold.it/192x271" alt="" title="">#}
{#      </a>#}
{#      <a>#}
{#        <img src="http://placehold.it/192x271" alt="" title="">#}
{#      </a>#}
{#    </div>#}
{#  </div>#}
{#</div>#}

{% endblock %}

