<form class="contact_form" id="{{ formID }}">
  <input id="name{{ formID }}" type="text" placeholder="Представьтесь, пожалуйста" required>
  <input id="tel{{ formID }}" type="tel" placeholder="Телефонный номер" required>
  <input id="email{{ formID }}" type="email" placeholder="Ваш e-mail">
  <textarea id="desc{{ formID }}" placeholder="Опишите идею или задачу"></textarea>
  <span>Заполните форму для связи с нами</span>
  <input class="bh-button" type="submit" value="Отправить">
</form>

  <script>
    function contact_ajax{{ formID }} (name, tel, email, desc) {
      $("#{{ formID }}").load(
              "{% url "main-ajax" %}",
              {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                name: name,
                tel: tel,
                email: email,
                desc: desc
              },
              function(){
                $('.success').fadeIn();
              }
      );
    }

    $(document).ready(function(){
      var {{ formID }} = $('#{{ formID }}');
      {{ formID }}.submit(function(){
        var name = {{ formID }}.find('#name{{ formID }}').val();
        var tel = {{ formID }}.find('#tel{{ formID }}').val();
        var email = {{ formID }}.find('#email{{ formID }}').val();
        var desc = {{ formID }}.find('#desc{{ formID }}').val();
        contact_ajax{{ formID }} (name, tel, email, desc);
        return false;
      });
    });
  </script>