{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="main__bgvideo">
    <div class="container">
      <div class="row main__bgvideo-descr">
       {{ page.content|safe }}
      </div>
    </div>
  </section>

  <!--noindex-->
  <section class="main__portfolio" id="portfolio">
    <h2>Портфолио</h2>

{# Начало слайдера #}
    <div class="superscroll">
      <div id="scroller-wrapper">
        <div id="destacados-reel-wrap">

          <div id="scrollright"></div>
          <div id="scrollright2"></div>
          <div id="scrollright-icon">
            <div id="scrollright-icon-right" class="icons-sprite"></div>
          </div>
          <div id="scrollleft"></div>
          <div id="scrollleft2"></div>
          <div id="scrollleft-icon">
            <div id="scrollleft-icon-left" class="icons-sprite"></div>
          </div>

          <ul id="destacados-reel">
            <div class="slider">
              <li>
                <div class="destacados-box destacados-2">
                  <div class="dest-left">

                    <div class="dest-box dest-5">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/299 х 190/omega.png' %}" alt="Омега" title="Омега">
                        <div class="dest-caption">
                          <span>Омега</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>

                    <div class="dest-box dest-6">

                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/299 х 190/translate.png' %}" alt="Проект дагестанский переводчик" title="Проект дагестанский переводчик">
                        <div class="dest-caption">
                          <span>Дагестанский переводчик</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>

                    <div class="dest-box dest-7">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/620 х 190/gamma.png' %}" alt="Создание сайта натяжных потолков" title="Создание сайта натяжных потолков">
                        <div class="dest-caption">
                          <span>Гамма</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="dest-right">
                    <div class="dest-box dest-8">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/300 х 400/zoo.png' %}" alt="Зоолайф" title="Зоолайф">
                        <div class="dest-caption">
                          <span>Зоолайф</span>
                          <h4>Логотип, сайт</h4>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </li>


              <li>
                <div class="destacados-box destacados-3">

                  <div class="dest-left">

                    <div class="dest-box dest-9">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/280 х 150/ndelo.png' %}" alt="Сайты для газет" title="Сайты для газет">
                        <div class="dest-caption">
                          <span>Новое дело [Архив]</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>

                    <div class="dest-box dest-10">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/280 х 150/bolt.png' %}" alt="Bolt" title="Bolt">
                        <div class="dest-caption">
                          <span>BOLT</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>

                    <div class="dest-box dest-11">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/580 х 230/era.png' %}" alt="сайта фирмы Эра потолков" title="сайта фирмы Эра потолков">
                        <div class="dest-caption">
                          <span>Эра потолков</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>

                  </div>


                  <div class="dest-right">
                    <div class="dest-box dest-12">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/340 х 400/sezar.png' %}" alt="Sezar" title="Sezar">
                        <div class="dest-caption">
                          <span>Sezar</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </li>

              <li>
                <div class="destacados-box destacados-2">
                  <div class="dest-left">

                    <div class="dest-box dest-5">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/299 х 190/omega.png' %}" alt="Омега" title="Омега">
                        <div class="dest-caption">
                          <span>Омега</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>

                    <div class="dest-box dest-6">

                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/299 х 190/translate.png' %}" alt="Проект дагестанский переводчик" title="Проект дагестанский переводчик">
                        <div class="dest-caption">
                          <span>Дагестанский переводчик</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>

                    <div class="dest-box dest-7">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/620 х 190/gamma.png' %}" alt="Создание сайта натяжных потолков" title="Создание сайта натяжных потолков">
                        <div class="dest-caption">
                          <span>Гамма</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="dest-right">
                    <div class="dest-box dest-8">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/300 х 400/zoo.png' %}" alt="Зоолайф" title="Зоолайф">
                        <div class="dest-caption">
                          <span>Зоолайф</span>
                          <h4>Логотип, сайт</h4>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </li>

              <li>
                <div class="destacados-box destacados-3">

                  <div class="dest-left">
                    <div class="dest-box dest-9">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/280 х 150/ndelo.png' %}" alt="Сайты для газет" title="Сайты для газет">
                        <div class="dest-caption">
                          <span>Новое дело [Архив]</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>

                    <div class="dest-box dest-10">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/280 х 150/bolt.png' %}" alt="Bolt" title="Bolt">
                        <div class="dest-caption">
                          <span>BOLT</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>

                    <div class="dest-box dest-11">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/580 х 230/era.png' %}" alt="сайта фирмы Эра потолков" title="сайта фирмы Эра потолков">
                        <div class="dest-caption">
                          <span>Эра потолков</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>

                  </div>


                  <div class="dest-right">
                    <div class="dest-box dest-12">
                      <div class="dest-img">
                        {# <a href="#"></a> #}
                        <img src="{% static 'img/portslider/340 х 400/sezar.png' %}" alt="Sezar" title="Sezar">
                        <div class="dest-caption">
                          <span>Sezar</span>
                          <h4>Создание сайта</h4>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </li>

            </div>
          </ul>
        </div>
      </div>


      <div id="destacados-reel-mob-wrap" class="superscroll">
        <div id="destacados-reel-mob">
          <div class="slider">

            <div class="dest-box dest-2">
              <div class="dest-img">
                {# <a href="#"></a> #}
                <img src="{% static 'img/portslider/dest-2.jpg' %}"  alt="Адаптивный сайт ООО Стронг" title="Адаптивный сайт ООО Стронг">
                <div class="dest-caption">
                  <span>СТРОНГ </span>
                  <h4>Создание сайта </h4>
                </div>
              </div>
            </div>

            <div class="dest-box dest-3">
              <div class="dest-img">
                {# <a href="#"></a> #}
                <img src="{% static 'img/portslider/dest-3.jpg' %}"  alt="Создание сайта для приюта бездомных животных" title="Сайт приюта бездомных животных">
                <div class="dest-caption">
                  <span>Зоолайф </span>
                  <h4>Логотип, Создание сайта </h4>
                </div>
              </div>
            </div>

            <div class="dest-box dest-4">
              <div class="dest-img">
                {# <a href="#"></a> #}
                <img src="{% static 'img/portslider/dest-4.jpg' %}" alt="Создание сайта спортшколы Абдурахманова" title="Сайт спортшколы имени Османа абдурахманова">
                <div class="dest-caption">
                  <span>Школа Османа Абдурахманова </span>
                  <h4>Создание сайтов </h4>
                </div>
              </div>
            </div>

            <div class="dest-box dest-5">
              <div class="dest-img">
                {# <a href="#"></a> #}
                <img src="{% static 'img/portslider/dest-5.jpg' %}"  alt="Создание сайта Разговорник" title="сайт разговорник дагестанских языков">
                <div class="dest-caption">
                  <span>Разговорник </span>
                  <h4>Проекты </h4>
                </div>
              </div>
            </div>

            <div class="dest-box dest-6">
              <div class="dest-img">
                {# <a href="#"></a> #}
                <img src="{% static 'img/portslider/dest-6.jpg' %}" alt="Адаптивная верстка сайта" title="Адаптивная верстка сайта">
                <div class="dest-caption">
                  <span>TALOS </span>
                  <h4>Брендинг, Адаптивный дизайн </h4>
                </div>
              </div>
            </div>

            <div class="dest-box dest-7">
              <div class="dest-img">
                {# <a href="#"></a> #}
                <img src="{% static 'img/portslider/dest-7.jpg' %}" alt="создание сайтов в Махачкале" title="Создание сайтов в Махачкале">
                <div class="dest-caption">
                  <span>SUSHI KAVA </span>
                  <h4>Фирменный стиль, Создание сайта </h4>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
{# Конец слайдера #}
    <div id="dest-bts"></div>

    {#    <div class="container">#}
    {#      <div class="row">#}
    {#        <div class="col-sm-8 col-xs-16">#}
    {#          <button>Связаться с нами</button>#}
    {#        </div>#}
    {#        <div class="col-sm-8 col-xs-16">#}
    {#          <button>Посмотреть наше портфолио</button>#}
    {#        </div>#}
    {#      </div>#}
    {#    </div>#}
  </section>
  <!--/noindex-->

  {{ page.post_content|safe }}

  <section class="main__sendforma" id="contact-form">
    <h3>У вас есть интересный проект или идея?</h3>
    <h4>Опишите её заполнив форму и мы найдем, что вам предложить!</h4>
    {% include 'form.html' with formID="index_form" %}
  </section>
{% endblock %}





{% block scripts %}
  <script>
    var wW = $(window).width(), startOffsetItem, startOffsetItemDiff, startOffset;

    function centerDestScroller() {
      $('.no-touch #destacados-reel').scrollLeft(0);
      wW = $(window).width();

      startOffsetItem = $('.slider li:nth-child(3)').offset().left;
      var sliderAreaWidth = $('#dest-bts').width();

      startOffsetItemDiff = wW - sliderAreaWidth;

      startOffset = $('.slider li:nth-child(2)').offset().left;
      //var startOffsetDiff = wW - startOffset;

      $('.no-touch #destacados-reel').scrollLeft(startOffsetItem-(startOffsetItemDiff/2))
    }

    $(document).ready(function() {



      centerDestScroller();



// DEST SCROLLER

      $('#destacados-reel').scroll(function(){

        if ($('body').hasClass("dragging")) {}
        else {
          wW = $(window).width();
          var sliderW = $('#destacados-reel').find('.slider').width();
          var scrolled = $('#destacados-reel').scrollLeft();
          var ts = sliderW - wW;
          var prop2 = (scrolled * 100) / ts;

          if (prop2 == 100) {
            $('#destacados-reel').scrollLeft(startOffset - startOffsetItemDiff + 20);
            $('#scrollright2').toggle();
          }
        }
        if (prop2 == 0){
          $('#destacados-reel').scrollLeft(startOffsetItem-20);
          $('#scrollleft2').toggle();
        }
      });

// HOVER SCROLLER

      $('#scrollright,#scrollright2').hover(
              function() {
                $('#destacados-reel').animate({scrollLeft:9000},13000,"linear");
                $('.no-touch #scrollright-icon').stop().animate({right:0},300,"swing");
              },
              function() {
                $('#destacados-reel').stop();
                $('.no-touch #scrollright-icon').stop().animate({right:-70},300,"swing");
              }
      );

      $('#scrollleft, #scrollleft2').hover(
              function() {
                $('#destacados-reel').animate({scrollLeft:-9000},18000,"linear");
                $('.no-touch #scrollleft-icon').stop().animate({left:0},300,"swing");
              },
              function() {
                $('#destacados-reel').stop();
                $('.no-touch #scrollleft-icon').stop().animate({left:-70},300,"swing");
              }
      );


// IOS SLIDER

      $('.touch #destacados-reel').iosSlider({
        desktopClickDrag: true,
        snapToChildren: true,
        infiniteSlider: true,
        snapSlideCenter: true,
        //onSlideChange: slideChange,
        autoSlide: false,
        scrollbar: true,
        keyboardControls: true
      });

      $('#destacados-reel-mob').iosSlider({
        snapToChildren: true,
        desktopClickDrag: true,
        infiniteSlider: true,
        snapSlideCenter: true,
        stageCSS: {
          overflow: 'visible'
        }
      });

      $('#destacados-reel-mob').iosSlider('goToSlide', 1);

    });
  </script>
{% endblock %}