{% extends 'base.html' %}
{% load static %}


{% block content %}
  <section class="portfolio__content">
    <div class="container">
      <h1>Портфолио веб-студии</h1>

      <div class="row">
        <article class="portfolio_wrap col-md-12">
          <p class="pf-text-top">
            С 2014 года веб-студия реализовала множество проектов в сфере веб-дизайна, создания сайтов и веб-приложений. В настоящем портфолио, мы представляем лишь часть из них.
            <br><br>
            Обратите внимание, работы доступны для оценок, лайков и комментирования. Нам важно ваше мнение!
          </p>

          <div class="portfolio-items">

            <div class="portfolio-item width2 site">
              <a href="portfolio_item.html">
                <strong>ЗАО "СЕпаратОР"</strong>
                <br>
                <span>Лидер в области производства и реализации сепараторов</span>
              </a>
            </div>

            <div class="portfolio-item width1">
              <a href="portfolio_item.html">
                <strong>omega</strong>
                <br>
                <span>Натяжные потолки</span>
              </a>
            </div>

            <div class="portfolio-item width1">
              <a href="portfolio_item.html">
                <strong>Защита кузова</strong>
                <br>
                <span>Автомастерская</span>
              </a>
            </div>

            <div class="portfolio-item seo">
              <a href="portfolio_item.html">
                <strong>Гамма потолков</strong>
                <br>
                <span>натяжные потолки</span>
              </a>
            </div>

            <div class="portfolio-item site">
              <a href="portfolio_item.html">
                <strong>Гамма потолков</strong>
                <br>
                <span>натяжные потолки</span>
              </a>
            </div>

            <div class="portfolio-item height2 seo">
              <a href="portfolio_item.html">
                <strong>Гамма потолков</strong>
                <br>
                <span>натяжные потолки</span>
              </a>
            </div>

            <div class="portfolio-item">
              <a href="portfolio_item.html">
                <strong>Гамма потолков</strong>
                <br>
                <span>натяжные потолки</span>
              </a>
            </div>

            <div class="portfolio-item service">
              <a href="portfolio_item.html">
                <strong>Гамма потолков</strong>
                <br>
                <span>натяжные потолки</span>
              </a>
            </div>

            <div class="portfolio-item width1 service">
              <a href="portfolio_item.html">
                <strong>Гамма потолков</strong>
                <br>
                <span>натяжные потолки</span>
              </a>
            </div>

            <div class="portfolio-item design">
              <a href="portfolio_item.html">
                <strong>Гамма потолков</strong>
                <br>
                <span>натяжные потолки</span>
              </a>
            </div>

            <div class="portfolio-item">
              <a href="portfolio_item.html">
                <strong>Гамма потолков</strong>
                <br>
                <span>натяжные потолки</span>
              </a>
            </div>

            <div class="portfolio-item width2 design">
              <a href="portfolio_item.html">
                <strong>Гамма потолков</strong>
                <br>
                <span>натяжные потолки</span>
              </a>
            </div>

            <div class="portfolio-item width1">
              <a href="portfolio_item.html">
                <strong>Гамма потолков</strong>
                <br>
                <span>натяжные потолки</span>
              </a>
            </div>

            <div class="portfolio-item height2 site">
              <a href="portfolio_item.html">
                <strong>Гамма потолков</strong>
                <br>
                <span>натяжные потолки</span>
              </a>
            </div>

            <div class="portfolio-item">
              <a href="portfolio_item.html">
                <strong>Гамма потолков</strong>
                <br>
                <span>натяжные потолки</span>
              </a>
            </div>

            <div class="portfolio-item site">
              <a href="portfolio_item.html">
                <strong>Гамма потолков</strong>
                <br>
                <span>натяжные потолки</span>
              </a>
            </div>

          </div>

          <div class="pagination">

            <a class="prev" href="">&larr;</a>
            <a class="page" href="">1</a>
            <a class="page" href="">2</a>
            <a class="current page" href="">3</a>
            <span class="dots page">---</span>
            <a class="page" href="">9</a>
            <a class="next" href="">&rarr;</a>

          </div>

        </article>

        <aside class="portfolio_side col-md-4">

          <button class="active" data-filter="*">Все проекты</button>
          <button data-filter=".site">Сайты</button>
          <button data-filter=".design">Графический дизайн</button>
          <button data-filter=".service">Сервисы и приложения</button>
          <button data-filter=".seo">Продвижение</button>

        </aside>

      </div>

    </div>
  </section>




  <section class="portfolio-center">
    <div class="container">
      <div class="pf-c-left">
        <span>
          Позвоните прямо сейчас:
        </span>
        +7 (8722) 91-95-64
      </div>

      <span class="pf-c-center">или</span>

      <a class="pf-c-right" href="#contact-form">
        Опишите идею
      </a>
    </div>
  </section>




  <section class="pf-about-text container">

    <h2>Портфолио веб-студии</h2>

    <p class="pf-a-t-top">
      Чем осторожнее вы будете, вступая в отношения с клиентом, чем больше внимания вы уделите деталям и расстановке всех точек над i, тем больше вероятность того, что вы завершите проект, успешно выполнив качественную работу, и построите прочные отношения. А это приведет к новым проектам и рекомендациям в ближайшие годы.
    </p>

    <div class="pf-a-t-bottom">
      <p>
        <strong>Почему мы отводим важное место созданию портфолио?</strong>
        Потому что это самый главный и яркий момент в жизни каждой компании. Если Вы обратите внимание на портфолио нашей веб-студии, то увидите богатое разнообразие проектов, через которые можно легко ознакомиться с трудоемкой работой наших специалистов.
        <br>
        Главная задача подобного интернет-ресурса – предоставление максимум информации о вашей компании, ее услугах, наградах и достоинствах. Поэтому мы предлагаем вам профессиональную разработку сайтов-портфолио. Вы не пожалеете о потраченных средствах и увидите, что грамотно оформленный интернет-ресурс начнет в скором времени приносить свои плоды. Большую роль в этом процессе играет веб-дизайн. Ведь именно он в первую очередь привлекает посетителей.
      </p>

      <p>
        <strong>Студия «Матадор» на этот счет имеет ряд преимуществ:</strong>
        Индивидуальный подход к клиенту и детальная проработка всех элементов позволит осуществить создание сайта-портфолио в оптимально короткие сроки. Мы учтем все Ваши пожелания и в точности впишем их в общую картину интернет-ресурса. Удобные  эффективные интерфейсы отображения позволят клиентам быстро принять решение о работе с Вами. И все это благодаря созданному нами сайту. Наши специалисты – настоящие творцы креатива!
        <br>
        В разработку сайта-портфолио они вкладывают не просто опыт и талант, они делают это с душой. Каждый посетитель почувствует эту невидимую связь первоклассных технологий и тонкого вкуса.
        <br>
        Мы работаем с 2003 года, поэтому прекрасно понимаем, чего желают наши клиенты, и что хотят увидеть многочисленные гости всемирной паутины. Несомненно, выбор остается за Вами, но уровень профессионализма и статус видны сразу. Поэтому не стоит тратить время на долгие поиски - доверьте создание портфолио крупной веб-студии, такой как «Матадор». Наш контактный телефон в Москве: +7 (495) 796-62-99. Звоните нам прямо сейчас, и мы создадим настоящий шедевр среди обыденных сайтов-портфолио.
      </p>
    </div>

  </section>




  <section class="pf-reviews">

    <div class="container">

      <h2>Отзывы клиентов о нас</h2>

      <div class="pf-reviews-items">

        <div class="pf-reviews-item">

          <p>“Ребята сработали грамотно! У нас не было ничего - только название. Ни логотипа, ни сайта. Все, что предложили, понравилось с первого раза. Каталог наполнили, мы остались довольны!”</p>
          <span>Яковлев Кирилл</span>
          <a href="portfolio_item.html">Типография чилипринт</a>

        </div>

        <div class="pf-reviews-item">

          <p>”Сотрудничество со студией Матадор оставило приятное впечатление. Сайт был сделан качественно в срок, особенно хотелось бы отметить внимательность к деталям и готовность к диалогу сотрудников студии.”</p>
          <span>Яковлев Кирилл</span>
          <a href="portfolio_item.html">Типография чилипринт</a>

        </div>

        <div class="pf-reviews-item">

          <p>“Ребята сработали грамотно! У нас не было ничего - только название. Ни логотипа, ни сайта. Все, что предложили, понравилось с первого раза. Каталог наполнили, мы остались довольны!”</p>
          <span>Яковлев Кирилл</span>
          <a href="portfolio_item.html">Типография чилипринт</a>

        </div>

        <div class="pf-reviews-item">

          <p>“Ребята сработали грамотно! У нас не было ничего - только название. Ни логотипа, ни сайта. Все, что предложили, понравилось с первого раза. Каталог наполнили, мы остались довольны!”</p>
          <span>Яковлев Кирилл</span>
          <a href="portfolio_item.html">Типография чилипринт</a>

        </div>

      </div>

    </div>

  </section>




  <section class="main__sendforma" id="contact-form">
    <h3>У вас есть интересный проект или идея?</h3>
    <h4>Опишите её заполнив форму и мы найдем, что вам предложить!</h4>
    {% include 'form.html' with formID="index_form" %}
  </section>

  {{ page.post_content|safe }}

{% endblock %}

{% block scripts %}
  {{ page.script|safe }}
{% endblock %}