{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="pf-breadcrumbs">
    <div class="container">
      <a href="">Веб-студия</a> > <a href="">Портфолио</a> > <a href="">Сайты</a> > <span>ЗАО «Сепаратор»</span>
    </div>
  </div>
  <div class="pfi">

    <h2>ЗАО «Сепаратор»</h2>

    <section class="pfi-top-slider-wrap">
      <div class="pfi-t-s-container">
        <ul id="pfi-t-s">
          <li>
            <img src="http://lorempixel.com/687/433/">
          </li>
          <li>
            <img src="http://lorempixel.com/687/433/">
          </li>
          <li>
            <img src="http://lorempixel.com/687/433/">
          </li>
          <li>
            <img src="http://lorempixel.com/687/433/">
          </li>
        </ul>
      </div>
    </section>



    <section class="pfi-summary">
      <div class="pfi-wrap">

        <ul class="pfi-s-info">
          <li><strong>Клиент: </strong>ЗАО Сепаратор</li>
          <li><strong>Ссылка: </strong><a href="//zao-separator.ru" target="_blank">zao-separator.ru</a></li>
          <li><strong>Запуск: </strong>11.11.2015</li>
        </ul>

        <p class="pfi-s-text">Разговор о веб-приложениях на Питоне надо начинать с папы всех CMS и фреймворков: Zope. Его история тянется с лохматого 1998 года, фреймворк ("сервер приложений") включает собственную базу данных, в работе надо проектом принимал участие сам Гвидо Ван Россум, элементы и архитектурные решения фреймворка используются во многих других больших проектах (прежде всего Zope Component Architecture).</p>

      </div>
    </section>




    <section class="pfi-screens pfi-wrap">
      <img src="http://lorempixel.com/480/360/" alt="">
      <img src="http://lorempixel.com/480/360/" alt="">
      <img src="http://lorempixel.com/480/360/" alt="">
      <img src="http://lorempixel.com/480/360/" alt="">
    </section>




    <section class="task-solution pfi-wrap">

      <div class="task">
        <h3>Задача:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque commodi consectetur delectus ex illo iure iusto quis reprehenderit temporibus.</p>
      </div>

      <div class="solution">
        <h3>Решение:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci eius labore nesciunt nihil rerum totam unde, velit. Amet aperiam at consectetur delectus dolorum est eveniet excepturi facilis fuga fugit harum illum ipsa iusto maiores minima natus necessitatibus odit omnis praesentium quibusdam quo quod sunt, tempora totam ullam voluptas voluptatem!</p>
      </div>

    </section>




    <section class="pfi-wrap">
      <ul id="pfi-slider-fw">
        <li>
          <img src="http://lorempixel.com/1000/450/" alt="">
        </li>
        <li>
          <img src="http://lorempixel.com/1000/450/" alt="">
        </li>
        <li>
          <img src="http://lorempixel.com/1000/450/" alt="">
        </li>
        <li>
          <img src="http://lorempixel.com/1000/450/" alt="">
        </li>
      </ul>
    </section>




    <section class="pfi-text pfi-wrap">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque dolores eveniet explicabo laudantium odit praesentium quos sapiente vel vero! A autem dicta dolore dolorum est exercitationem illo, itaque iusto maiores, nam quod ratione repellat tenetur unde voluptas! Aut blanditiis commodi corporis deleniti dolorem dolorum ducimus ea error est eveniet explicabo iste iusto laudantium maiores minima necessitatibus officiis provident quaerat, quasi quisquam quo ratione rem suscipit unde voluptatibus. Possimus, quas?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque dolores eveniet explicabo laudantium odit praesentium quos sapiente vel vero! A autem dicta dolore dolorum est exercitationem illo, itaque iusto maiores, nam quod ratione repellat tenetur unde voluptas! Aut blanditiis commodi corporis deleniti dolorem dolorum ducimus ea error est eveniet explicabo iste iusto laudantium maiores minima necessitatibus officiis provident quaerat, quasi quisquam quo ratione rem suscipit unde voluptatibus. Possimus, quas?</p>
      <ul id="pfi-slider-hw">
        <li>
          <img src="http://lorempixel.com/1000/450/" alt="">
        </li>
        <li>
          <img src="http://lorempixel.com/1000/450/" alt="">
        </li>
        <li>
          <img src="http://lorempixel.com/1000/450/" alt="">
        </li>
        <li>
          <img src="http://lorempixel.com/1000/450/" alt="">
        </li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque dolores eveniet explicabo laudantium odit praesentium quos sapiente vel vero! A autem dicta dolore dolorum est exercitationem illo, itaque iusto maiores, nam quod ratione repellat tenetur unde voluptas! Aut blanditiis commodi corporis deleniti dolorem dolorum ducimus ea error est eveniet explicabo iste iusto laudantium maiores minima necessitatibus officiis provident quaerat, quasi quisquam quo ratione rem suscipit unde voluptatibus. Possimus, quas?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque dolores eveniet explicabo laudantium odit praesentium quos sapiente vel vero! A autem dicta dolore dolorum est exercitationem illo, itaque iusto maiores, nam quod ratione repellat tenetur unde voluptas! Aut blanditiis commodi corporis deleniti dolorem dolorum ducimus ea error est eveniet explicabo iste iusto laudantium maiores minima necessitatibus officiis provident quaerat, quasi quisquam quo ratione rem suscipit unde voluptatibus. Possimus, quas?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque dolores eveniet explicabo laudantium odit praesentium quos sapiente vel vero! A autem dicta dolore dolorum est exercitationem illo, itaque iusto maiores, nam quod ratione repellat tenetur unde voluptas! Aut blanditiis commodi corporis deleniti dolorem dolorum ducimus ea error est eveniet explicabo iste iusto laudantium maiores minima necessitatibus officiis provident quaerat, quasi quisquam quo ratione rem suscipit unde voluptatibus. Possimus, quas?</p>
    </section>




    <section class="pfi-collaborators pfi-wrap">
      <h3>Участники проекта:</h3>

      <table>
        <tr>
          <td><p>Галина Халилова</p> <span>дизайн</span></td>
          <td><p>Галина Халилова</p> <span>верстка</span></td>
          <td><p>Галина Халилова</p> <span>программирование</span></td>
        </tr>
      </table>
    </section>




    <section class="want-next">
      <a class="want modal_btn" href="#form_header_wrap">Хочу такой сайт</a>

      <a class="next" href="portfolio_item.html">Посмотреть следующий проект</a>
    </section>




    <div class="blogdetail__content-single_comments">
      <h4>Комментарии:</h4>
      <ul>
        {% for comment in comments %}
          <li>
            <p class="blogdetail__commentdate">{{ comment.date }}</p>
            <p class="blogdetail__commentauthor">{{ comment.nickname }}</p>
            <p class="blogdetail__commenttext">{{ comment.text }}</p>
            <a href="">ответить</a>
            <a href="">комментировать</a>
          </li>
        {% endfor %}
      </ul>
      <div class="blogdetail__content-single_commentsadd container">
        <form action="">
          <div class="row">
            <div class="col-md-8">
              <input type="text" placeholder="Представьтесь, пожалуйста"/>
            </div>
            <div class="col-md-8">
              <input type="text" placeholder="Ваш e-mail"/>
            </div>
            <div class="col-md-16">
              <textarea name="" placeholder="текст сообщения"></textarea>
            </div>
            <div class="col-md-4">
              <button>комментировать</button>
            </div>
          </div>
        </form>
      </div>
    </div>


    {{ page.content|safe }}


  </div>

  {{ page.post_content|safe }}


{% endblock %}

{% block scripts %}
  <script src="{% static 'lib/lightslider/js/lightslider.min.js' %}"></script>
  {{ page.script|safe }}
{% endblock %}