@font-face{
  font-family: "ElementalEnd_BH";
  src: url("ElementalEnd_BH.eot");
  src: url("ElementalEnd_BH.eot?#iefix") format("embedded-opentype"),
       url("ElementalEnd_BH.woff2") format("woff2"),
       url("ElementalEnd_BH.woff") format("woff"),
       url("ElementalEnd_BH.ttf") format("truetype"),
       url("ElementalEnd_BH.svg#ElementalEnd_BH") format("svg");
  font-weight: normal;
  font-style: normal;
}
